<div id="get_help">
  <h1>Need some help?</h1>
  <p>Having some technical trouble? Can't get an API to work correctly? Need a hand installing something?</p>

  <p>Let us help!</p>

  <form accept-charset="UTF-8" action="http://help.hacked.io/tickets" id="helpticket" method="post">

    <h3>What is your name?</h3>
    <label for="name">Name:</label><br />
    <input type="text" name="name" id="name" placeholder="e.g. John"/>
    <hr>

    <h3>Where are you?</h3>
    <label for="seat">Table:</label><br />
    <input type="text" name="seat" id="seat" placeholder="e.g. A1" />
    <hr>

    <h3>What issue are you having?</h3>
    <p>Just give us a brief description of your issue so we can arrive prepared.</p>
    <textarea style="width:70%;" rows="5" id="desc" name="desc"></textarea>
    <hr>

    <h3>Tell us more:</h3>
    <p>This will help us decide the best member of staff to send over.</p>
    <div style="margin-left:1%;">
      <!-- TODO: The following options need editing, these are only placeholders until we decide
           on the actual options. -->
      <input type="radio" name="group" value="THUNDER" checked=true /> Network or electrical issue<br />
      <input type="radio" name="group" value="SHIELD" /> Badge/Label/Registration issues<br />
      <input type="radio" name="group" value="HEROES" /> Other<br />
    </div>
    <hr>

    <input id="submit_button" type="submit"/>

  </form>
</div>