article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 40px;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

p,
pre {
  margin: 1em 0;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;
}

q:before,
q:after {
  content: '';
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

dl,
menu,
ol,
ul {
  margin: 1em 0;
}

dd {
  margin: 0 0 0 40px;
}

menu,
ol,
ul {
  padding: 0 0 0 40px;
}

img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,
input {
  line-height: normal;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222222;
}

body {
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.animated {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -ms-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
}

@-webkit-keyframes bounceInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateY(30px);
  }

  80% {
    -webkit-transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes bounceInDown {
  0% {
    opacity: 0;
    -moz-transform: translateY(-2000px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateY(30px);
  }

  80% {
    -moz-transform: translateY(-10px);
  }

  100% {
    -moz-transform: translateY(0);
  }
}

@-o-keyframes bounceInDown {
  0% {
    opacity: 0;
    -o-transform: translateY(-2000px);
  }

  60% {
    opacity: 1;
    -o-transform: translateY(30px);
  }

  80% {
    -o-transform: translateY(-10px);
  }

  100% {
    -o-transform: translateY(0);
  }
}

@keyframes bounceInDown {
  0% {
    opacity: 0;
    transform: translateY(-2000px);
  }

  60% {
    opacity: 1;
    transform: translateY(30px);
  }

  80% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.bounceInDown {
  -webkit-animation-name: bounceInDown;
  -moz-animation-name: bounceInDown;
  -o-animation-name: bounceInDown;
  animation-name: bounceInDown;
}

* html {
  font-size: 112.5%;
}

html {
  font-size: 18px;
  line-height: 1.33333em;
}

h1 {
  font-size: 2em;
  line-height: 1.33333em;
  margin: 0.33333em 0;
  font-family: "Unicod Sans Regular", Tahoma, Arial, sans-serif;
  font-size-adjust: 0.55;
  font-weight: normal;
  font-style: normal;
  background-color: #ee145b;
  color: #fff;
  padding-right: 0.25em;
  padding-left: 0.25em;
}

h2 {
  font-size: 1.5em;
  line-height: 0.88889em;
  color: #ee145b;
  text-transform: uppercase;
  font-family: "Unicod Sans Bold", Tahoma, Arial, sans-serif;
  font-size-adjust: 0.55;
  font-weight: bold;
  font-style: normal;
}

h3 {
  font-size: 1.25em;
  line-height: 1.06667em;
  font-family: "Unicod Sans Regular", Tahoma, Arial, sans-serif;
  font-size-adjust: 0.55;
  font-weight: normal;
  font-style: normal;
}

p, ul, ol {
  font-size: 1em;
  margin-bottom: 1.33333em;
}
p:first-child, ul:first-child, ol:first-child {
  margin-top: 1.33333em;
}

ul, ol {
  padding-left: 0;
}

a {
  color: #ee145b;
  padding: 0 2px;
}
a:visited, a:active {
  color: #f4729c;
}
a:hover {
  color: #2e3192;
}
a:focus {
  background-color: #2e3192;
  color: #fff;
}

figure {
  margin: 1.33333em 0;
  text-align: center;
}
figure img {
  border-radius: 1em;
}
figure figcaption {
  margin: 0.66667em 0;
  font-style: italic;
  font-size: 0.8em;
  color: #666;
}

body {
  background-color: #fff;
  color: #000;
}

header {
  overflow: hidden;
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  margin-left: auto;
  margin-right: auto;
  background-color: #161744;
}
header:after {
  content: "";
  display: table;
  clear: both;
}
header .logo {
  padding-left: 0.84746%;
  padding-right: 0.84746%;
  width: 30.50847%;
  float: left;
  margin-right: 1.69492%;
}
header .logo img {
  margin: 1em 0;
}
header ul {
  padding-left: 0.84746%;
  padding-right: 0.84746%;
  width: 64.40678%;
  float: left;
  margin-right: 1.69492%;
  padding: 4em 0 0 0;
  text-align: right;
  list-style-type: none;
  margin: 0;
}
header ul li {
  display: inline;
}
header ul li.active a, header ul li.active a:visited {
  background-color: #fff;
  color: #000;
  text-decoration: none;
}
header ul li a {
  padding: 0.5em;
  color: #fff;
  border-radius: 5px;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  text-decoration: none;
}
header ul li a:visited {
  color: white;
}
header ul li a:hover, header ul li a:focus {
  color: #fff;
  background-color: #ee145b;
}

footer {
  overflow: hidden;
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1.33333em;
  background-color: #161744;
}
footer:after {
  content: "";
  display: table;
  clear: both;
}
footer p, footer ul {
  font-size: 0.75em;
  color: #fff;
  margin: 0.25em 0;
}
footer p a, footer ul a {
  color: #ee145b;
  padding: 0;
}
footer p a:focus, footer p a:hover, footer ul a:focus, footer ul a:hover {
  color: #f4729c;
}
footer ul {
  list-style-type: none;
}
footer li {
  display: inline;
}
footer li:after {
  content: ' - ';
}
footer li:last-child:after {
  content: '';
}

.container {
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
.container:after {
  content: "";
  display: table;
  clear: both;
}
.container img {
  max-width: 100%;
  height: auto;
}

section {
  margin-top: 1.33333em;
  margin-bottom: 1.33333em;
  overflow: hidden;
  padding-top: 1.33333em;
  padding-bottom: 1.33333em;
}
section:hover a {
  text-decoration: underline;
}
section a {
  text-decoration: none;
}
section h1 {
  background-color: #ee145b;
  text-transform: uppercase;
  color: #fff;
  display: inline-block;
  -webkit-transform: skew(0, -2deg);
  -moz-transform: skew(0, -2deg);
  -ms-transform: skew(0, -2deg);
  -o-transform: skew(0, -2deg);
  transform: skew(0, -2deg);
  box-shadow: 0 4px 4px rgba(238, 20, 91, 0.25);
}
section h1 a, section h1 a:visited, section h1 a:hover, section h1 a:focus {
  color: #fff;
}
section h2, section h3, section h4 {
  color: #ee145b;
}
section.highlight {
  margin-left: -8.47458%;
  padding-left: 8.47458%;
  margin-right: -8.47458%;
  padding-right: 8.47458%;
  background-color: #def;
}
section.highlight h1 {
  background-color: #2e3192;
  box-shadow: none;
}
section.highlight h2, section.highlight h3 {
  color: #2e3192;
}
section.highlight a {
  color: #2e3192;
}
section.faded {
  margin-left: -8.47458%;
  padding-left: 8.47458%;
  margin-right: -8.47458%;
  padding-right: 8.47458%;
  background-color: #eee;
  color: #666;
}
section.faded h1 {
  background-color: #999;
  box-shadow: none;
}
section.faded h2, section.faded h3 {
  color: #999;
}
section.faded a {
  color: #999;
}

section.about {
  width: 74.57627%;
  float: left;
  margin-right: 1.69492%;
}
section.about h2, section.about p {
  margin-left: 0;
}
section.about div {
  width: 31.81818%;
  float: left;
  margin-right: 2.27273%;
}
section.about div.about-learn, section.about div.about-build, section.about div.about-share {
  font-size: 0.75em;
  line-height: 1.77778em;
}
section.about div.about-share {
  float: right;
  margin-right: 0;
}
section.about div.about-blog {
  width: 100%;
  float: left;
  margin-right: 2.27273%;
  margin-top: 2em;
}

section.sponsors-sidebar {
  width: 23.72881%;
  float: right;
  margin-right: 0;
  overflow: hidden;
  margin-bottom: 0;
  text-align: center;
}
section.sponsors-sidebar h2 {
  font-size: 1em;
  line-height: 1.33333em;
  text-align: left;
}
section.sponsors-sidebar ul {
  list-style-type: none;
  overflow: hidden;
}
section.sponsors-sidebar ul li {
  width: 100%;
  float: left;
  margin-right: 7.14286%;
  margin-bottom: 1.5em;
}
section.sponsors-sidebar ul li img {
  background-color: #fff;
  max-width: 100%;
}
section.sponsors-sidebar p {
  font-size: 0.8em;
}
section.sponsors-sidebar .tickets-cta {
  margin: 0 0 2em 0;
  padding: 0;
}
section.sponsors-sidebar .tickets-cta h1 {
  font-size: 1.1em;
  padding: 0.5em 0.25em;
}

section.venue .venue-location {
  padding-left: 1.69492%;
  padding-right: 1.69492%;
  width: 28.81356%;
  float: left;
  margin-right: 1.69492%;
  background-color: #eee;
}
section.venue .venue-location h2 {
  text-transform: none;
}
section.venue .venue-map {
  width: 66.10169%;
  float: right;
  margin-right: 0;
}
section.venue .venue-map iframe {
  width: 100%;
  height: 600px;
}

section.sponsors .sponsor {
  display: table;
  width: 100%;
  margin: 0;
}
section.sponsors .sponsor .sponsor-logo {
  display: table-cell;
  width: 49.15254%;
  vertical-align: middle;
  text-align: center;
}
section.sponsors .sponsor .sponsor-copy {
  display: table-cell;
  width: 49.15254%;
  vertical-align: middle;
}
section.sponsors .sponsor-partners {
  text-align: center;
}
section.sponsors .sponsor-partners img {
  margin: 0 1em 0 0;
}

section.terms ul {
  list-style-type: disc;
  list-style-position: inside;
}

section.blog {
  width: 100%;
  float: left;
  margin-right: 1.69492%;
}
section.blog ul {
  list-style-type: disc;
}
section.blog ul li {
  margin-left: 1em;
  margin-bottom: 0.25em;
  list-style-position: outside;
}

section.wiki-headline {
  margin: 1em 0 0 0;
  padding: 0;
}

nav.wiki {
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%;
  margin-top: 1.33333em;
  margin-bottom: 1.33333em;
  overflow: hidden;
  padding-top: 1.33333em;
  padding-bottom: 1.33333em;
  margin-top: 0;
}
nav.wiki ul {
  text-align: left;
  list-style-type: none;
  margin: 0;
}
nav.wiki ul li {
  margin: 0.5em 0 0 0;
}
nav.wiki ul li.active a, nav.wiki ul li.active a:visited {
  text-decoration: underline;
}
nav.wiki ul li a {
  padding: 0.5em;
  border-radius: 5px;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  text-decoration: none;
}
nav.wiki hr {
  width: 80%;
}
nav.wiki h4 {
  color: #ee145b;
  margin: 0.5em 0 1em 0;
}

section.wiki {
  width: 74.57627%;
  float: right;
  margin-right: 0;
  margin-top: 0;
}
section.wiki h2 {
  margin-top: 0.5em;
}
section.wiki ul {
  list-style: disc outside;
  margin-left: 20px;
}
section.wiki ol {
  list-style: decimal outside;
  margin-left: 25px;
}

@media only screen and (min-width: 1200px) {
  body {
    font-size: 125%;
  }

  .container {
    max-width: 1280px;
  }
}
@media only screen and (max-width: 1000px) {
  header .logo {
    width: 100%;
    float: left;
    margin-right: 1.69492%;
    text-align: center;
  }
  header .logo img {
    max-width: 100%;
  }
  header nav {
    width: 100%;
    float: left;
    margin-right: 1.69492%;
  }
  header ul {
    width: 100%;
    padding: 0 0 1.33333em 0;
    text-align: center;
  }
  header ul li {
    padding: 0;
  }
}
@media only screen and (max-width: 810px) {
  section.about {
    width: 66.10169%;
    float: left;
    margin-right: 1.69492%;
  }
  section.about div {
    width: 100%;
    float: left;
    margin-right: 2.5641%;
    font-size: 1em;
    line-height: 1.33333em;
  }
  section.about div:nth-child(1) {
    float: right;
    margin-right: 0;
  }

  section.sponsors-sidebar {
    width: 32.20339%;
    float: right;
    margin-right: 0;
  }
}
@media only screen and (max-width: 640px) {
  body {
    font-size: 90%;
  }

  header ul li a {
    display: block;
    text-align: center;
  }

  section {
    padding: 0 0 0.33333em 0;
  }
  section h1 {
    -webkit-transform: skew(0, 0);
    -moz-transform: skew(0, 0);
    -ms-transform: skew(0, 0);
    -o-transform: skew(0, 0);
    transform: skew(0, 0);
    box-shadow: none;
  }
  section h1, section h2, section h3, section h4 {
    margin: 0.25em 0;
  }

  section.tickets-cta a {
    padding: 0.5em;
    display: block;
    font-size: 1.25em;
  }

  section.sponsors-sidebar {
    width: 100%;
    float: left;
    margin-right: 1.69492%;
  }
  section.sponsors-sidebar h2 {
    font-size: 1.5em;
    text-align: center;
  }
  section.sponsors-sidebar p {
    font-size: 1em;
  }
  section.sponsors-sidebar ul li img {
    width: 75%;
  }

  section.about {
    width: 100%;
    float: left;
    margin-right: 1.69492%;
  }

  section.sponsors .sponsor {
    margin-top: 1em;
    display: block;
  }
  section.sponsors .sponsor .sponsor-logo {
    display: block;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
  }
  section.sponsors .sponsor .sponsor-logo img {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }
  section.sponsors .sponsor .sponsor-copy {
    display: block;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  section.venue .venue-map, section.venue .venue-location {
    width: 100%;
    float: left;
    margin-right: 1.69492%;
  }
  section.venue .venue-location {
    background-color: inherit;
  }
  section.venue .venue-map iframe {
    height: 200px;
  }

  nav.wiki {
    width: 100%;
    float: left;
    margin-right: 1.69492%;
  }

  section.wiki {
    width: 100%;
    float: left;
    margin-right: 1.69492%;
  }
}
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
