<h2>
  <img src="/images/sponsors/trimmed/bbc.png">
</h2>

<h3><a href="http://www.bbc.co.uk/rd">http://www.bbc.co.uk/rd</a></h3>

<p>BBC engineers have been at the forefront of developments in broadcast technology since the founding of public service broadcasting in the UK.</p>

<p>Whether it’s noise-cancelling microphones in the 1930s, the first transatlantic television transmission in the 1950s, Ceefax in the 1970s, digital television and radio in the 1990s and HDTV in the 2000s, or the challenge to traditional broadcasting brought about by the internet and interactive media, BBC Research & Development has led the way with innovative technology and collaborative ways of working.</p>

<p>Our team in R&amp;D is now exploring the Internet of Things and how everyday interactions with media and entertainment can be amplified using connected objects and devices.</p>

<p>
  <h3>Our challenge for the weekend</h3>

  We asked kids to tell (and draw) us some stories about what magical powers they might like to have, and how they would work. Using this as inspiration we challenge you to transform these into physical devices and experiment with what a mobile for kids should be like! What new hardware and functionality should be added? What kind of sensors and new functionality should they have?
</p>

<p>Our plan is to run 20-30 min show and tell of examples that we have built.</p>

<p>We'll then point to resources and let people get on with it, offering support along the way.</p>


<p>
  <h4>Resources we're making available:</h4>

  <ul>
    <li>Microcontrollers with Bluetooth modules</li>
    <li>A variety of input and output hardware; sensors, motors, displays and all the necessary components to get them hooked-up.</li>
    <li>Resources and support in the form of tested code, and examples.</li>
    <li>Hackable objects and craft materials.</li>
    <li>Toys, lots of toys!</li>
  </ul>
</p>
