<h2>Challenges</h2>

<p>We will have a few nice challenges for you that may or may not make you end up with some amazing prizes. All of the following challenges are open to teams of up to 4. Good luck!</p>

<h3>General Challenges</h3>

<h4>Judge's Choice Award</h4>

<p>We will have a panel of judges going around to judge your hacks on the Sunday. Don't worry, you don't need to enter if you don't want to, but if you do then you stand the chance to win a very nice prize. The winning team will receive tickets to a gig of their choice at the O2, subject to availability.</p>

<p>Our Judges panel currently consists of:</p>

<ul>
  <li>Daniel Applequist (Telefonica)</li>
  <li>Neil Whitworth (O2)</li>
  <li>John Stevenson (Heroku)</li>
  <li>Pedro Lamas (Nokia Music)</li>
</ul>

<h4>Public's Choice Award</h4>

<p>Be your own Judge and vote for your favorite hack on the Sunday. The winning team will receive tickets to a gig of their choice at the O2, subject to availability. We won't list all the judges, this page isn't long enough.</p>

<h3>Sponsor Challenges</h3>

<h4>Heroku</h4>

<p>Heroku will be offering to be defined prize for the best use of their APIs. See <a href="/almanac/heroku">their page</a> for more details.</p>

<h4>Nokia + Windows</h4>

<p>Nokia and Windows have 2 challenges and plenty of Lumia phones are to be won. See <a href="/almanac/nokia_and_windows">their page</a> for full details.</p>

<h4>PayPal</h4>

<p>PayPal will be offering <a href="http://www.gosphero.com/">Sphero's</a> for the best use of their APIs. See <a href="/almanac/paypal">their page</a> for more details.</p>

<h4>TechSmith</h4>

<p>TechSmith is offering a <a href="http://shop.lego.com/en-GB/Death-Star-10188">LEGO Death Star kit</a> to the person/team that uses any of their products in the most creative way. See <a href="/almanac/techsmith">their page</a> for more details.</p>

<h4>Mailjet</h4>

<p>Mailjet will be offering <a href="http://www.makeymakey.com/">MaKey Makey</a> kits for the best use of their APIs. See <a href="/almanac/mailjet">their page</a> for more details.</p>

<h4>Github</h4>

<p>Github has provided us with <a href="/almanac/repositories">free private repositories</a> for the HACKED organisation. Additionally they are giving away a 1 year Bronze plan (10 private repositories) to every winner of any of the above categories! See <a href="/almanac/github">their page</a> for more details.</p>

<h3>Partner Challenges</h3>

<h4>BBC R&amp;D</h4>

<p>BBC R&amp;D has a fabulous challenge that asks kids what magical powers they might like to have. See <a href="/almanac/bbcrd">their page</a> for more details.</p>

<h4>Philips Hue</h4>

<p>Philips Hue is offering a Hue kit to every team member of the team that does the coolest thing with the Hue lights. See <a href="/almanac/philips">their page</a> for more details.</p>