<h2>Challenges</h2>

<p>We will have a few nice challenges for you that may or may not make you end up with some amazing prizes.</p>

<h3>General Challenges</h3>

<h4>Judge's Choice Award</h4>
<h4>Public's Choice Award</h4>

<h3>Sponsor Challenges</h3>

<h4>Nokia + Windows</h4>
<h4>PayPal</h4>
<h4>TechSmith</h4>
<h4>Mailjet</h4>
<h4>Github</h4>

<h3>Partner Challenges</h3>

<h4>BBC</h4>
