<h2>
  <img src="/images/sponsors/trimmed/equalexperts.png">
</h2>

<h3><a href="http://www.equalexperts.com/">http://www.equalexperts.com/</a></h3>

<p>Equal Experts is a niche development consultancy that delivers its services through our network of associates and freelance consultants.</p>

<p>We recruit the best and the brightest in the industry, like-minded experts that want to learn from each other and work together to deliver the most outstanding solutions to their clients using cutting edge technologies including open source platforms.  Our projects are run using Agile methods and technical practices with people who have proven success developing in the Agile way.</p>