<h2>Food</h2>

<p>Hungry? During the weekend we'll provide drinks, snacks and main meals.</p>

<h3>Saturday Lunch</h3>

<p>At 13:00 a selection of wraps will be available for all attendees. Vegan/gluten free/lactose free options will be available on request.</p>

<h3>Saturday Dinner</h3>

<p>From 17:00 'til 19:00 attendees will be able to collect a dinner voucher (and a swag bag) from the reg/help desk. This dinner voucher will be for a specific restaurant and will allow you to choose a set menu meal from the list below. We only have a limited number of vouchers per restaurant (but enough in total for all attendees!), so it will be on a first-come first-served basis.</p>

<h4>Thai Silk</h4>
<ul>
	<li>Sweet & sour chicken</li>
	<li>Traditional Thai green chicken curry</li>
	<li>Stir-fried pork with ginger and mushrooms</li>
	<li>Stir-fried beef with holy basil leaves</li>
	<li>Stir-fried mixed vegetables (vegetarian)</li>
	<li>Stir-fried rice with chicken and prawns</li>
</ul>
	
<p>All the above come with a soft drink and either steamed fragrant rice or egg noodles.</p>

<h4>GBK</h4>
<ul>
	<li>Small burger (choice of beef; cheese; chicken or veggie)</li>
	<li>Small side (chunky fries; homeslaw or simple green salad)</li>
</ul>

<p>Served with a bottle of mineral water or glass of Coke or Sprite.</p>
 
<h4>The O2 Lounge</h4>
<ul>
	<li>Chilli con carne</li>
	<li>Sausage and mash</li>
	<li>Mushroom, tarragon and sherry sauce pasta (vegetarian)</li>
</ul>

<p>All served with a drink.</p>

<h4>Zizzi</h4>
<ul>
	<li>Rigatoni con pollo e funghi</li>
	<li>Spaghetti bolognese</li>
	<li>Spaghetti pomodoro e bufala (v)</li>
	<li>Risotto di pollo e funghi</li>
	<li>Pizza fiorentina (v)</li>
	<li>Pizza quattro stagioni</li>
	<li>Pizza diavola</li>
	<li>Insalata di pollo</li>
</ul>

<p>All items subject to availablity.</p>

<h3>Sunday Breakfast</h3>

<p>We'll be serving a selection of Danish pastries, croissants and mini muffins from 08:00.</p>

<h3>Sunday Lunch</h3>

<p>At 12:00 a selection of salads will be available. Please ask if you require Vegan/gluten free/lactose free options.</p>