<h2>
  <img src="/images/sponsors/trimmed/github.png">
</h2>

<h3><a href="http://github.com">http://github.com</a></h3>

<p>
  GitHub is the best way to build software together. Whether it's your company's app, your favorite open source library, or a weekend side project, GitHub helps everyone work together better by providing tools for easier collaboration and code sharing.
</p>

<p>
  Catch up on what happened while you were out or ask for help on a tricky chunk of code. Manage and contribute to projects from all your devices. The best part is you can keep using all of your favorite tools. Start collaborating on code today—open source project hosting is free!
</p>

<h3>Their challenge for the weekend</h3>

<p>Github has provided us with <a href="/almanac/repositories">free private repositories</a> for the HACKED organisation. Additionally they are giving away a 1 year Bronze plan (10 private repositories) to every winner of any of the above categories! </p>

<p>
  <h3>Developer Documentation</h3>
  <a href="http://developer.github.com/v3/">http://developer.github.com/v3/</a>
</p>