<h2>
  <img src="/images/sponsors/trimmed/gothinkbig.png">
</h2>

<h3><a href="http://gothinkbig.co.uk">http://gothinkbig.co.uk</a></h3>

<p>
  O2 and Bauer Media have joined forces to bring you <a href="GoThinkBig.co.uk">GoThinkBig.co.uk</a> - a one-stop shop that will pool helpful career ideas to give you what you need to get going in these challenging times, and even a few thousand brilliant opportunities to gain work skills, experience and first jobs.
</p>