<h2>
  <img src="/images/sponsors/trimmed/heroku.png">
</h2>

<h3><a href="http://heroku.com">http://heroku.com</a></h3>

<p>
  Spend your time building applications, not managing the servers that run them. Heroku is a platform-as-a-service that adds simplicity to deploying, scaling and managing the infrastructure that run applications.
</p>

<p>
  <h3>Developer Documentation</h3>
  <a href="https://devcenter.heroku.com/">https://devcenter.heroku.com/</a>
</p>

<h3>Developer Team Present at HACKED</h3>

<ul>
  <li>
    <a href="http://twitter.com/barefaceddeath">John Stevenson (@jr0cket)</a><br>
    Developer Evangelist EMEA
  </li>
  <li>
    <a href="http://twitter.com/neilmiddleton">Neil Middleton (@neilmiddleton)</a><br>
    Engineer
  </li>
</ul>