<h2>
  <img src="/images/sponsors/trimmed/heroku.png">
</h2>

<h3><a href="http://heroku.com">http://heroku.com</a></h3>

<p>
  Spend your time building applications, not managing the servers that run them. Heroku is a platform-as-a-service that adds simplicity to deploying, scaling and managing the infrastructure that run applications.
</p>

<h3>Our challenge for the weekend</h3>

<p>
  We will be offering a slew of prices to the Most Innovative use of the Cloud:
</p>

<ul>
  <li>Something cool from Amazon</li>
  <li>Platform credits to run and scale your apps in production</li>
  <li>Promotion for your app and team on our blogs</li>
  <li>Professional Heroku Programming book</li>
</ul>

<h3>Schwag</h3>

<p>We will also be handing out Heroku T-Shirts to the first 15 teams to deploy their working app to Heroku!</p>

<h3>Resources</h3>
<ul>
  <li><a href="https://devcenter.heroku.com/">https://devcenter.heroku.com/</a></li>
</ul>

<h3>Our team attending HACKED</h3>

<ul>
  <li>
    <a href="http://twitter.com/jr0cket">John Stevenson (@jr0cket)</a><br>
    Developer Evangelist EMEA
  </li>
  <li>
    <a href="http://twitter.com/neilmiddleton">Neil Middleton (@neilmiddleton)</a><br>
    Engineer
  </li>
  <li>
    <a href="http://twitter.com/pchittum">Peter Chittum (@pchittum)</a><br>
    Salesforce.com
  </li>
  <li>
    <a href="http://twitter.com/khowling">Keith Howling (@khowling)</a><br>
    Salesforce.com
  </li>
  <li>
    <a href="http://twitter.com/kch">Caio Chassot (@kch)</a><br>
    Heroku
  </li>
  <li>
    <a href="http://twitter.com/dmathieu">Damien Mathieu (@dmathieu)</a><br>
    Heroku
  </li>
</ul>
