<h2>How To Hack</h2>

<p>Attending yout first hack day can be daunting so here are some tips on how to hack...</p>

<h3>Learn</h3>

<p>You don't need to be a seasoned developer. There is plenty of opportunity to learn between the <a href="/almanac/presentations">presentations</a>, <a href="/almanac/workshops">workshops</a>, and other attendees. Make sure to grab the developers that are representing the sponsors when you have any questions. We've listed most of their Twitter accounts on the sponsor pages on the left.</p>

<p>And again, don't worry if you don't know how to program, or you aren't a hardware hacker. This is the perfect time to learn!</p>

<h3>Build</h3>

<p>Feeling confident in your skills? Then look on the <a href="/almanac/challenges">challenges</a> page to get an idea for any challenge you might want to go after. Make sure to attend the <a href="/almanac/workshops">workshops</a> as it's a good opportunity to grab a company's expert and get that insight you need to use their APIs.</p>

<p>We will also be providing a way to find teammates and to find projects needing skills. More on this later.</p>

<h3>Share</h3>

<p>Finally make sure to share your skills with others. Share your code on <a href="http://github.com">Github</a>, tweet your ideas on Twitter using the hashtag <a href="https://twitter.com/search/realtime?q=%23hackedio&src=typd">#hackedio</a>, and help beginners become experts like you. </p>

<p>Want to share in a more formal way? Then look at the <a href="/almanac/techsmith">TechSmith challenge</a> and build a tutorial or screencast for attendees, and you might land yourself a LEGO Death Star!</p>


