<h2>The Almanac</h2>

<p>What the Hitchhiker's Guide is to the galaxy, the Almanac is to HACKED. All you need to know in one location; an ever expanding repository of all the facts.</p>

<h3>Something missing?</h3>

Think something is missing? Then <a href='help@hacked.io'>email us</a> with the suggestions.