<h2>The Almanac</h2>

<p>What the Hitchhiker's Guide is to the galaxy, the Almanac is to HACKED. All you need to know in one location; an ever expanding repository of all the facts.</p>

<h3>Something missing?</h3>

Think something is missing? Then <a href='help@hacked.io'>email us</a> with the suggestions.

<h2>What is HACKED?</h2>
<p>HACKED is a free-to-attend, intense weekend of learning, sharing and building cool stuff. Whether you are a beginner or an expert, developer or designer, join us for what we guarantee will be a memorable experience.</p>

<p>Hacking is all about playing with technology and using it in new and creative ways. We're not talking about building battle-hardened products - many of the more memorable hacks from similar events have been pulled off thanks to crossed fingers and lots of sticky tape!</p>

<p>If you have ever been to a hack day before, you'll know the fun of making new things quickly, experimenting and
collaborating with people from all sorts of backgrounds and levels of experience.</p>

<p>Lots of companies are getting involved in HACKED and they are going to make their APIs and products available.
There will be plenty of hands-on sessions and one-to-one help, so don't be scared about getting involved!</p>