<h2>
  <img src="/images/sponsors/trimmed/mailjet.png">
</h2>

<h3><a href="http://mailjet.com">http://mailjet.com</a></h3>

<p>Are you wondering why some of your emails get blocked or wind up in the spam folder? Sign up with Mailjet and that will be a worry of the past!</p>

<p>Mailjet is an all-in-one solution to send, track and deliver both marketing and transactional emails.  Its cloud-based infrastructure is unique and highly scalable. A proprietary technology optimizes the deliverability of the email messages.</p>

<p>Developers use Mailjet's API to integrate a robust email delivery system to their app. On their side, Marketers leverage the intuitive interface and the in-depth analytics. Mailjet actually offers high granularity for all its delivery and activity metrics.</p>

<p>From the integration to the effective sending, everything is simplified to the maximum, and its volume based pricing is highly competitive.</p>

<p>
  <h3>Developer Documentation</h3>
  <a href="https://www.mailjet.com/docs/api">https://www.mailjet.com/docs/api</a>
</p>