<h2>Parking</h2>

<p>We have a special event rate for HACKED for 100 cars at the Indigo2 as per follows:</p>

<ul>
  <li>Pre-booked parking £15</li>
  <li>On the door parking £20</li>
</ul>

<p>For this:</p>

<ul>
  <li>You can stay parked for the duration of HACKED upto a max of 36 hours</li>
  <li>If you leave the car park, you will be liable to pay the full fee to park again.</li>
</ul>

<p>To book your parking:</p>

<ul>
  <li>Goto: <a href="https://parking.theo2.co.uk/indigo2">https://parking.theo2.co.uk/indigo2</a></li>
  <li>Fill in your details</li>
  <li>Select July 20th and Hack The Lab</li>
  <li>You do not to enter a ticket id</li>
</ul>

<p>There is also the North Greenwich London Underground NCP car park which is Monday - Saturday and Bank Holiday £11 per day, Sunday £6 per day.</p>