<h2>
  PayPal | Developer
</h2>

<h3><a href="http://developer.paypal.com">http://developer.paypal.com</a></h3>

<p>The PayPal Developer program is the face of technology innovation at PayPal. Using open source foundations in their technology stacks, PayPal is constructing new breeds of payment platforms, API standards, and identity systems to support the next generation of disruptive technology.  </p>

<p>Building upon these open themes has culminated into a scalable, easily implementable architecture for integrating commerce-based functionality into your prototypes, merchant integrations, or any development projects you can dream up.</p>

<p>
  <h3>Developer Documentation</h3>
  <a href="http://developer.paypal.com/">http://developer.paypal.com/</a>
</p>