<h2>
  <img src="/images/sponsors/trimmed/paypal.png">
</h2>

<h3><a href="http://developer.paypal.com">http://developer.paypal.com</a></h3>

<p>The PayPal Developer program is the face of technology innovation at PayPal. Using open source foundations in their technology stacks, PayPal is constructing new breeds of payment platforms, API standards, and identity systems to support the next generation of disruptive technology.  </p>

<p>Building upon these open themes has culminated into a scalable, easily implementable architecture for integrating commerce-based functionality into your prototypes, merchant integrations, or any development projects you can dream up.</p>

<h3>Our challenge for the weekend</h3>

<p>
  We will be offering <a href="http://www.gosphero.com/">Spheros</a> for the best use of our APIs.
</p>

<h3>Resources</h3>
<ul>
  <li><a href="http://developer.paypal.com/">General documentation</a></li>
  <li><a href="https://developer.paypal.com/webapps/developer/docs/api/">REST API</a></li>
  <li><a href="https://developer.paypal.com/webapps/developer/docs/integration/mobile/ios-integration-guide/">iOS SDK</a></li>
  <li><a href="https://developer.paypal.com/webapps/developer/docs/integration/mobile/android-integration-guide/">Android SDK</a></li>
  <li><a href="https://github.com/paypal/Windows8SDK">Windows (Phone) 8 SDK</a></li>
</ul>

<h3>Our team attending HACKED</h3>
<ul>
  <li>
    <a href="http://twitter.com/Korrat">Corrado Tomassoni (@Korrat)</a><br>
    Head of EMEA Developer Network
  </li>
  <li>
    <a href="http://twitter.com/cbetta">Cristiano Betta (@cbetta)</a><br>
    Developer Evangelist
  </li>
</ul>