<h2>
  <img src="/images/sponsors/trimmed/philips.png">
</h2>

<p></p>

<h3>Developer Team Present at HACKED</h3>

<ul>
  <li>
    <a href="http://twitter.com/philipshuedev">Kevin Toms (@philipshuedev)</a><br>
    Philips Hue Developer
  </li>
</ul>