<h2>
  <img src="/images/sponsors/trimmed/philips.png">
</h2>

<h3><a href="http://meethue.com">http://meethue.com</a></h3>

<p>
  Change the way you see light, with hue from Philips. Play with tone, contrast, white light and a spectrum of colour. Connect with the hue app and control all your lights from your smart device. And unlock the true potential of hue – from creating new apps to integrating web services and digital installations – via the hue SDK and developer friendly hue bridge.
</p>

<p>
  There are two different ways to work with hue depending on your platform of choice.  We have a native SDK for iOS and also a very flexible RESTful API on the bridge.  You can use any of these during Hacked and we'll be on-hand with documentation, examples and advice to get you building apps with hue in no time.
</p>

<h3>Our challenge for the weekend</h3>

<p>We're excited by the possibility of the hue connected lamp and are keen to see what can be done. To get your ideas flowing we've identified 4 areas hue can work in:</p>

<ol>
  <li>Ambience: Creating beautiful scenes through artistic, creative use of light and colour</li>
  <li>Health &amp; Wellbeing: Altering the lighting to help you relax read, concentrate or get energised</li>
  <li>Security and safety: Managing your lights remotely or having them switch on when you get near using geofencing</li>
  <li>Communication: Keeping you informed by altering the lights based on tweets, data or other information</li>
</ol>

<p>
  We're offering a full starter kit worth &pound;179 to every member of the winning team with the best idea.  You need to have an idea based on hue which is worked up to a demonstrable, working prototype by the demo sessions at 1pm on Sunday.
</p>

<h3>Resources</h3>
<ul>
  <li><a href="http://developers.meethue.com/">http://developers.meethue.com/</a></li>
</ul>

<h3>Our team attending HACKED</h3>
<ul>
  <li>
    <a href="http://twitter.com/philipshuedev">Kevin Toms (@philipshuedev)</a><br>
    Philips Hue Developer
  </li>
</ul>