<h2>Presentations</h2>

<p>Here is the list of presentations. All the presentations will be happening on the 1st floor VIP area. This schedule will most likely still be subject to change before the event.</p>

<h3>
  Firefox OS <br>
  <em>13:30 - 14:00</em> <br>
  <small>Daniel Applequist, Open Web Advocate @ Telefónica Digital</small>
</h3>

<p>Backed by some of the biggest names in the industry, Firefox OS is the hottest new entry to the mobile operating system space. Daniel Applequist will be giving you an insight as to where it started, and where it eventually will go.</p>





<h3>
  Kickstart your Hack with Git &amp; Heroku <br>
  <em>14:00 - 14:30</em> <br>
  <small>John Stevenson, Developer Evangelist @ Heroku</small>
</h3>

<p>Get collaborating on your app quickly using Git and <a href="/almanac/heroku">Heroku</a>.  Use database, caches and other Heroku addons to build your app quickly without a lot of environment setup.  Use Heroku templates for your favourite development stack to save on plumbing.</p>




<h3>
  The Arduino GSM Shield <br>
  <em>14:30 - 15:00</em> <br>
  <small>Kevin Prince, Developer Evangelist @ The Lab</small>
</h3>

<p>Your Arduino can be turned into something pretty damn close to a funtioning mobile phone with the GSM shield. Kevin Prince from The Lab (powered by O2) will be demonstrating how easy it is to get started.</p>




<h3>
  Node.js + Quadcopters - What could go wrong?!<br>
  <em>15:00 - 15:30</em> <br>
  <small>Andrew Nesbitt</small>
</h3>

<p>Nodecopter is a global movement to introduce developers to robotics. With a few lines of JavaScript you can make a quadcopter take off, fly around the room and flip in the air, with a few more lines you can start streaming video and adding your own control mechanisms. We'll look at how to do all this and see some flying around the o2 arena!</p>



<h3>
  The Future of Payments <br>
  <em>15:30 - 16:00</em> <br>
  <small>Corrado Tomassoni, Head of PayPal Developer EMEA</small>
</h3>

<p>The boundary between online and offline payments are getting smaller every day and PayPal is innovating in both areas. What will digital payments look like in 2022 and could we even distinguish them from regular payments?</p>




<h3>
  Getting Started with a Windows 8 or Windows Phone 8 app <br>
  <em>16:00 - 16:30</em> <br>
  <small>Mike Taulty, Technical Evangelists @ Microsoft UK</small>
</h3>

<p>We’ll split this short session into two, 15 minute slots where we’ll show the basics of getting started with a Windows 8 application and a Windows Phone 8 application. We’ll talk about the tools you’ll need to get building, how you can get hold of them and we’ll build a simple application showing the basics of getting an application up and running, debugging it on a device or a simulator and we’ll provide pointers as to where to go for more info as you work on Windows hacks through the weekend.
</p>




<h3>
  TBD<br>
  <em>16:30 - 17:00</em>
</h3>




<h3>
  Low tech lovelies with High tech jublies <br>
  <em>17:00 - 17:30</em> <br>
  <small>Muzz Lakhani</small>
</h3>

<p>Muzz takes a look at the way technology problems that can be decoded without the use of gadgets and how this approach can still produce a more efficient solution to a complex problem! He'll talk about decoding programming with play dough and empty cups, about using flamenco dance moves in a network systems lab and many more design themes based around chat up lines.</p>




<h3>
  TBD<br>
  <em>17:30 - 18:00</em>
</h3>




<h3>
  TBD<br>
  <em>18:00 - 18:30</em>
</h3>

