<h2>Presentations</h2>

<p>Here is the preliminary list of presentations. A full schedule with times will follow soon.</p>

<ul>
  <li><strong>Firefox OS</strong> - Telefonica</li>
  <li><strong>OpenTok</strong> - TokBox </li>
  <li><strong>PayPal APIs</strong> - Corrado Tomassoni, Head of PayPal Developer EMEA</li>
  <li><strong>Heroku APIs</strong> - John Stevenson, Heroku </li>
  <li><strong>Low tech lovelies with High tech jublies</strong> - Muzz Lakhani</li>
  <li><strong>Nodecopter</strong> - Andrew Nesbit</li>
  <li><strong>Windows</strong> - Microsoft</li>
  <li><strong>Nokia Music</strong> - Nokia</li>
</ul>