
<h2>Questions &amp; Answers</h2>

<h3>Where and when is HACKED?</h3>
<p>We will be taking over <a href="http://www.theo2.co.uk/indigo2/index.html">IndigO2</a>, inside
<a href="http://goo.gl/maps/AAw73">The O2</a> in London on July 20th and 21st 2013.</p>

<!-- Who -->
<h3>Who is running HACKED?</h3>
<p>HACKED is being organised by The Lab which is part of O2 with the support of Geeks of London.</p>

<!-- Tickets -->
<h3>How do I get a ticket?</h3>
<p>Tickets to HACKED are now sold out. We encourage you to join the <a href="/waitinglist">waiting list</a> for the best chance to still attend HACKED.</p>

<!-- Tickets (international)-->
<h3>I have a great distance and many borders to cross?</h3>
<p>If you are planning to come from far away (another country, planet or dimension!),
<!-- O2 roof in use (http://www.youtube.com/watch?v=_VzrtdNecBI) illegally parked spaceships will be towed -->
drop an email to <a href="mailto:help@hacked.io">help@hacked.io</a> and we will do our best to help.</p>

<!-- Visas and other papers -->
<h3>Can you provide visa letters?</h3>
<p>Sadly we are unable to provide any bespoke letters or paperwork for visas. if you're unsure if you need a visa to travel to the
  United Kingdom you should speak to your local British Consulate or check <a href="http://www.fco.gov.uk">FCO.gov.uk</a>.</p>

<!--Look too young?-->
<h3>I am under 18 can I attend?</h3>
<p>If you are between the age of 16 and 18, you can attend HACKED. However you can't stay with us overnight so please plan to head home by 8pm. Attendees under the age of 16 must be accompanied by a parent or another responsible adult and get written approval from the organisers.</p>



<!-- For Mr. Duck and his soldering iron -->
<h3>What about hardware hacks?</h3>
<p>Yes, they are more than welcome at HACKED! However, if you are planning something more than light soldering please get in touch.</p>

<!-- Overnight -->
<h3>Can I stay overnight?</h3>
<p>Yes, you are more than welcome to bring your sleeping bag! Alternatively, there are plenty of <a href="/venue">hotels and guest houses</a> nearby.</p>
