<h2>Repositories</h2>

<p>GitHub has been kind enough to provide us with free private repositories on the <a href="http://twitter.com/hackedio">@hackedio GitHub account</a>. Want a free repository to use and keep your code private from your competitors? Contact <a href="http://twitter.com/cbetta">Cristiano Betta (@cbetta)</a> for access before or during HACKED.</p>

<p>GitHub is also providing free Bronze plans to all the winners so make sure to have a look at the <a href="/almanac/challenges">challenges page</a>.</p>