<h2>Rules</h2>

<p>Let's get hacking! What can you build in 24 hours?<p>

<p>At 12:00 on the Saturday the hacking will begin and you'll get 24 hours to create anything you can come up with. Some of the prizes from sponsors have been listed on the <a href="/almanac/challenges/">Challenges page</a>, but there will also be a range of mystery prizes for unique hacks and cool accomplishments.  </p>

<p>So be creative and build something awesome!</p>

<h3>When can I hack?</h3>

<p>From 12:00 on the Saturday till 12:00 on the Sunday, you will be able to hack on something. If you want to submit a hack, it will need to have been coded within the allotted time.</p>

<h3>What can I hack?</h3>

<p>We don't mind what you build, as long as it's interesting (and legal!). You can hack anything you want, which includes software hacks, hardware hacks, mobile hacks, and anything else creative you can come up with.</p>

<p>Several sponsors have set up specific challenges with special prizes, but we'll also have some other mystery prizes. Those will be awarded to whoever wows us in any way possible. The theme of the weekend is Learn, Build, Share, so don't be scared to try out something new or to pair up with someone you've never worked before. </p>

<h3>Do I need to hack?</h3>

You don't necessarily need to hack to participate in HACKED. Again the theme is Learn, Build, Share, so as long as you learn something new, teach someone else something new or just generally have fun, you're part of the event!

<h3>How many people can be in my team?</h3>

<p>To qualify for any of the prizes, your team can consist of up to four people.</p>

<h3>Will I get to present my hack?</h3>

<p>You will be able to show your hack to the judges on Sunday. Because of the amount of people and expected entries though, we think we'll only be able to select a subset of entries to present to everyone on Sunday afternoon.</p>

<h3>How should I present my hack?</h3>

<ul>
	<li>No powerpoints, present your actual hack!</li>
	<li>Only one team member gets to present the hack</li>
	<li>1 minute to present (TBC); if you overrun, you'll be cut off.</li>
</ul>