<h2>Schedule</h2>
<h3>Friday</h3>
<p>A pre-HACKED meetup: enjoy some beers and meet fellow attendees. Venue TBA.</p>

<h3>Saturday</h3>
<ul>
	<li>10:00 - Registration</li>
	<li>11:00 - Opening talks</li>
	<li>12:00 - Start hacking</li>
	<li>13:00 - Lunch</li>
	<li>20:00 to 00:00 - Dinner</li>
</ul>

<h4>Presentations &amp; Workshops</h4>
<p>During the Saturday there will be presentations and workshops to get you started hacking. See the <a href="/almanac/presentations">presentations</a> and <a href="/almanac/workshops">workshops page</a> for full details.</p>

<h3>Overnight &amp; Sleeping</h3>
<p>There will be an area for sleeping if you can’t make it through the entire night!</p>

<h3>Sunday</h3>
<ul>
	<li>08:00 - Breakfast</li>
	<li>10:00 - Judges start visiting hacks</li>
	<li>12:00 - Lunch and finish hacking</li>
	<li>13:00 - Demos start</li>
	<li>16:00 - Awards ceremony</li>
	<li>16:30 - Wrap up and leaving the venue</li>
</ul>
