<h2>Schedule</h2>

<h3>Friday</h3>

<p>We will be meeting at the <a href="http://www.catandcanary.co.uk/">Cat &amp; Canary</a> in Canary Wharf from 18:30.</p>

<p><a href="https://maps.google.com/maps?q=cat+and+canary&hl=en&ll=51.506258,-0.022101&spn=0.027112,0.023389&sll=47.73855,12.508828&sspn=60.017842,47.900391&hq=cat+and+canary&t=m&z=15">Here is a little map.</a></p>

<h3>Saturday</h3>
<ul>
	<li>09:30 - Doors Open &amp; Registration</li>
	<li>11:00 - Opening talks</li>
	<li>12:00 - Hacking starts</li>
	<li>13:00 - Lunch</li>
	<li>13:30 - <a href="/almanac/presentations">Presentations</a> and <a href="/almanac/workshops">Workshops</a> start</li>
	<li>19:00 - <a href="/almanac/lightning_talks">Lightning talks</a></li>
	<li>20:00 - Dinner</li>
	<li>24:00 - Doors close</li>
</ul>

<h3>Overnight &amp; Sleeping</h3>
<p>There will be an area for sleeping if you can’t make it through the entire night!</p>

<h3>Sunday</h3>
<ul>
	<li>08:00 - Doors open &amp; breakfast</li>
	<li>10:00 - Judges start visiting hacks</li>
	<li>12:00 - Lunch and hacking ends</li>
	<li>13:00 - Demos start</li>
	<li>16:00 - Awards ceremony</li>
	<li>16:30 - Wrap up and leaving the venue</li>
</ul>
