<h2>Registration</h2>

<p>On Saturday morning, the registration desk will open at 9.30am. The O2 operate a secure site policy and therefore we require you to bring along either:</p>

<ul>
	<li>Some form of photo ID (e.g. passport, driving licence or student card).</li>
</ul>
Or:
<ul>	
	<li>A print-out of your HACKED eventbrite confirmation email, along with a bank card or something official with your name on it.</li>
</ul>

<p>When you arrive at the venue, you will first be issued with a HACKED wristband. Afterwards you will be given your personalised attendee badge.</p>

<p><b>NB: Both your wristband and badge MUST be worn whilst you are at the venue. Failure to do this could result in you being asked to leave by O2 Security or a member of the HACKED Crew.</b></p>

<p>This process will be the same during registration on the Sunday for those who are attending on the second day only.</p>

<h3>Wristbands</h3>

<p>The wristbands are NFC enabled and will allow you to check in and out of the venue from selfserve stations. Please make sure you check in/out, because this will give us exact numbers in case of fire or other emergencies.</p>

<p>If your wristband breaks, gets damaged or is lost, go to the registration desk to get it replaced.</p>