<h2>
  <img src="/images/sponsors/trimmed/techsmith.png">
</h2>

<h3><a href="http://techsmith.com">http://techsmith.com</a></h3>

<p>
  TechSmith is the name behind Camtasia Studio and Snagit, two of the most popular screencasting/capture applications for Windows and Mac.
</p>

<h3>Team Present at HACKED</h3>

<ul>
  <li>
    <a href="http://twitter.com/betsyweber">Betsy Weber (@betsyweber)</a><br>
    Chief Evangelist
  </li>
</ul>