<h2>
  <img src="/images/sponsors/trimmed/techsmith.png">
</h2>

<h3><a href="http://techsmith.com">http://techsmith.com</a></h3>

<p>
  TechSmith is the name behind Camtasia Studio and Snagit, two of the most popular screencasting/capture applications for Windows and Mac.
</p>

<h3>Our challenge for the weekend</h3>
<p>
  We will be providing two LEGO Death Stars for the weekend. One will be available for people to assemble, the other for people to win by recording/producing anything that can help other people build/learn/share that uses a TechSmith tool.
</p>

<h3>Our team attending HACKED</h3>
<ul>
  <li>
    <a href="http://twitter.com/betsyweber">Betsy Weber (@betsyweber)</a><br>
    Chief Evangelist
  </li>
</ul>