<h2>
  <img src="/images/sponsors/trimmed/thelab.png">
</h2>

<h3><a href="http://thelab.o2.com">http://thelab.o2.com</a></h3>

<p>
  We're the brains behind 
  <a href="http://thenextweb.com/uk/2013/02/21/o2-matchday-brings-a-live-feed-from-6-nations-rugby-refs-mics-directly-to-smartphones/">Matchday</a> - an app to let you stream a rugy ref straight to your phone.  We've also made <a href="http://www.placenumber.net/">PlaceNumber</a> to help you generate phone numbers suitable for demo use.  We've <a href="https://thelab.o2.com/2013/06/using-a-kinect-sensor-with-a-giant-iphone/"></a>connected Kinect to a giant iPad</a> and <a href="https://thelab.o2.com/2012/12/create-your-own-iron-man-costume/">build Iron Man suits</a>.<br><a href="https://thelab.o2.com/2012/12/create-your-own-iron-man-costume/"><img src="https://thelab.o2.com/wp-content/uploads/2012/12/iron_man_complete-copy.jpg" alt="iron man costume" width="235" height="300"></a></p>
  <br>All in a day's work in The Lab!
</p>

<h3>What are we bringing to HACKED</h3>

<h4>A GSM Test network</h4>

<p>
  We'll be bringing our very own GSM test network - using the latest <a href="http://www.rangenetworks.com/store/5150-series">Range Networks 5150</a>.<br>
  <img src="http://www.rangenetworks.com/assets/rn-comkit.jpg" alt="portable gsm network" /><br>Join Karl Turner and get a feel for what goes on behind the scenes in mobile network.</p>

<h4>FireFox OS</h4>

<p>Backed by some of the biggest names in the industry, Firefox OS is the hottest new entry to the mobile operating system space. The Lab's Ruth John will be joined by our friends from Telefonica Digital Daniel Applequist and Francisco Jordano with handset and support to get you developing on FFOS in a flash.</p>

<h4>Arduino + GSM</h4>

<p>Developed jointly by Telefonica R&amp;D in Madrid and Arduino in Turin, the GSM shield allows Arduino boards to connect to the internet, make/receive voice calls and send/receive text messages. Kevin Prince and Sean Holden will on-hand to get you started!</p>

<h3>Our team attending HACKED</h3>

<ul>
  <li>
    <a href="http://twitter.com/kevinprince">Kevin Prince</a> - Wizard
  </li>
  <li>
    <a href="http://twitter.com/nicwhatmore">Nic Whatmore - Digital Engagement</a>
  </li>
  <li>
    <a href="http://twitter.com/rumyra">Ruth John</a> - Unicorn Trainer
  </li>
  <li>
    <a href="http://twitter.com/KDTurner">Karl Turner</a> - Code Slinger
  </li>
  <li>
    Barry Clarke - UX Designer
  </li>
  <li>
    Dan Calabrese - Multimedia Pirate
  </li>
  <li>
    Ian Griggs
  </li>
  <li>
    Dan Payne
  </li>
</ul>