<h2>
  <img src="/images/sponsors/trimmed/thelab.png">
</h2>

<h3><a href="http://thelab.o2.com">http://thelab.o2.com</a></h3>

<p>
  The Lab is an innovation team, powered by O2. They were set up to test new ideas and concepts fast, using proof of concepts and betas to help drive innovation across the O2 business.
</p>

<h3>Our team attending HACKED</h3>

<ul>
  <li>
    <a href="http://twitter.com/kevinprince">Kevin Prince (@kevinprince)</a><br>
    Wizard
  </li>
  <li>
    <a href="http://twitter.com/rumyra">Ruth John (@rumyra)</a><br>
    Unicorn Trainer
  </li>
  <li>
    <a href="http://twitter.com/KDTurner">Karl Turner (@KDTurner)</a><br>
    Developer
  </li>
</ul>