<h2>Network & Electrics</h2>

<h3>Wifi / Internet</h3>

We have installed our own wifi into the venue just for HACKED. The SSID for this network is 'hackedio' and is available throughout the venue. Additionally, there is a wired network available on the tables in the semicircle by the front of the stage.

Whilst we have worked hard to ensure a decent internet connection, please remember that you are sharing it with 499 other attendees! Use your common sense - no Torrenting, and otherwise abusing the network.

If you are caught attempting to interfere with the network or other people's laptops, you WILL be asked to leave and won't be allowed back.

<h3>Equipment Testing</h3>

During registration, your equipment will undergo a PAT inspection. This ensures that the equipment is safe to use (and won't cause power cuts or fires!). If you have a frayed cable with bare wires, for example, it will fail.

Items that fail the inspection or are not presented for inspection MUST NOT be used. If you use untested equipment, we may ask you to leave.

<h3>Soldering / Hardware hacking</h3>

You will be allowed to solder during the weekend, but we will setup a special table for doing this. If you want to do anything elaborate with hardware hacking, let us know.