<h2>
  <img src="/images/sponsors/trimmed/tokbox.png">
</h2>

<h3><a href="http://tokbox.com">http://tokbox.com</a></h3>

<p>TokBox brings you the OpenTok API, an incredibly easy to use tool for adding face-to-face video streaming into web and mobile applications. OpenTok is built on bleeding edge technologies like WebRTC and adds valuable features and an easier interface to the HTML5 standard. Make your real-time experience more engaging by adding face-to-face with OpenTok.
</p>

<h3>Our challenge for the weekend</h3>

<p>
  We are rewarding the team with the Best use of the OpenTok API a £150 Amazon Gift Card.
</p>

<h3>Schwag</h3>

Come talk to us for motion controlled light up wristbands and stickers! If you start building with OpenTok, we'll ship you a TokBox Space t-shirt, too!

<h3>Resources</h3>

<h4>Javascript (Web)</h4>
<ul>
  <li><a href="http://www.tokbox.com/opentok/webrtc/demo">Demo</a></li>
  <li><a href="http://www.tokbox.com/opentok/webrtc/docs/js/tutorials/">WebRTC Tutorials</a></li>
  <li><a href="http://www.tokbox.com/opentok/docs/js/tutorials/">Flash Tutorials</a></li>
</ul>

<h4>iOS</h4>
<ul>
  <li><a href="https://github.com/opentok/OpenTok-iOS-Basic-Tutorial">Demo</a></li>
  <li><a href="https://github.com/opentok/opentok-ios-sdk-webrtc">WebRTC SDK</a></li>
  <li><a href="https://github.com/opentok/opentok-ios-sdk">Flash SDK</a></li>
</ul>

<h4>Android</h4>
<ul>
  <li><a href="https://github.com/opentok/opentok-android-sdk-demo">Demo</a></li>
  <li><a href="https://github.com/opentok/opentok-android-sdk">SDK</a></li>
</ul>

<h4>General</h4>

<ul>
  <li><a href="https://github.com/opentok">OpenTok on Github</a> for Sample Code, Server-side Libraries, etc.</li>
</ul>


<h3>Our team attending HACKED</h3>
<ul>
  <li>
    <a href="http://twitter.com/aoberoi">Ankur Oberoi (@aoberoi)</a><br>
    Developer Evangelist
  </li>
</ul>

