<h2>Twitter</h2>

<p>Make sure to talk about HACKED and when you do use the hashtag <strong>#hackedio</strong> so we can keep track of it.</p>

<p>Got any feedback? We are <a href="http://twitter.com/hackedio">@hackedio</a> on Twitter.</p>