<h2>What To Bring</h2>

<ul>
	<li>A laptop</li>
	<li>Chargers for your devices (laptop, phone, tablet etc)</li>
	<li>Sleeping bag/mat/stuff. There will be bean bags to sleep on and a darkened sleeping area.</li>
	<li>Toiletries - deodorant, toothbrush and toothpaste etc.</li>
	<li>A second pair of clothes</li>
	<li>A hoody/sweater. The venue is air-conditioned, which might be chilly during the night.</li>
	<li>Anything you need for your hack: Arduino kits, Raspberry Pi, etc</li>
</ul>

Please note: All electronics will be PAT inspected before you enter the venue. Items that fail the inspection or are not presented for inspection MUST NOT be used. For more details, check out the Network & Electrics page.

