<h2>Workshops</h2>

<p>Here is the preliminary list of workshops. A full schedule with times will follow soon.</p>

<ul>
  <li><strong>Mailjet APIs</strong> - Florian Le Goff, Mailjet</li>
  <li><strong>Firefox OS</strong> - Telefonica</li>
  <li><strong>Git/Heroku Workshop</strong> - John Stevenson, Heroku</li>
  <li><strong>PayPal APIs</strong> - Cristiano Betta, PayPal</li>
  <li><strong>Introduction to Arduino</strong> - Kevin Prince, The Lab</li>
  <li><strong>Hue Lights for Developers</strong> - Philips</li>
  <li><strong>Building a backend with Azure Mobile Services</strong> - Windows</li>
  <li><strong>Getting Started with a Windows (Phone) 8 app</strong> - Riaz Admed, Nokia</li>

</ul>

<p>We will probably also open up the workshop floor to anyone to do their own workshop. More on that soon.</p>