<h2>
  <img src="/images/sponsors/trimmed/yahoo.png">
</h2>

<h3><a href="http://yahoo.com">http://yahoo.com</a></h3>

<p>
  YDN’s mission is to inspire developers, accelerate Y! innovation and to be the daily go-to platform for developers globally, inside and outside of Yahoo!. We encourage developers to sample a buffet of the best technologies not only from Yahoo!, but from all major tool providers, such as Google and Apple so together everyone can innovate and push the envelope of what’s possible.
</p>

<p>
  Every month, more than 650,000 developers visit YDN to socialize, build and learn. Our community also hosts exciting large-scale events around the world, such as Open Hack (for all developers) and Hack Us (for universities), where developers of all backgrounds are invited to collaborate through code and creativity in person. We look forward to having you join us!
</p>

<h3>Resources</h3>
<ul>
  <li><a href="http://developer.yahoo.com/">http://developer.yahoo.com/</a></li>
</ul>

<h3>Our team attending HACKED</h3>
<ul>
  <li>
    <a href="http://twitter.com/anilpatel">Anil Patel (@anilpatel)</a><br>
    Head Of Developer Outreach And Community
  </li>
</ul>
