<section class="contact">
  <h1>Get in touch!</h1>
  <p>Have a problem or question we have not answered? Then get in touch!</p>
  
  <h3>General Problems including registration:</h3>
  <p>Email: <a href="mailto:help@hacked.io">help@hacked.io</a></p>
  <hr>
  
  <h3>Sponsorship:</h3>
  <p>Email: <a href="mailto:sponsor@hacked.io">sponsor@hacked.io</a></p>
  <hr>

  <h3>Press or Media Enquires:</h3>
  <p>Email: <a href="mailto:guy@hacked.io">guy@hacked.io</a></p>
  <hr>

  <h3>Invoicing and Contracts (existing sponsors):</h3>
  <p>Email: <a href="mailto:nic@hacked.io">nic@hacked.io</a></p>
  <hr>

  
  <h3>Build and Production (inc crazy hack ideas):</h3>
  <p>Email: <a href="mailto:kevin@hacked.io">kevin@hacked.io</a></p>
  <hr>

  <h3>Volunteering and Staffing (inc superhero registration):</h3>
  <p>Email: <a href="mailto:melinda@hacked.io">melinda@hacked.io</a></p>

</section>