<section class="hackmakers">
  <h1>Volunteers</h1>
  <p>HackDays on the scale of HACKED are not be possible without an amazing team. Over next few weeks we will be posting here roles which we need filling for HACKED.</p>

  <p>All the roles are completely voluntary and un-paid however we will look after you and make sure you get regular breaks, meals and have a lot of fun! All volunteers will need to attend a HACKED staff briefing in Central London during the week of July 8th.</p>

  <p>To volunteer for any role email <a href="mailto:help@hacked.io">help@hacked.io</a> and for technical roles include details of experience.</p>

  <h4>Strategic Hacked Invitation Enrolment and Label Division (S.H.I.E.L.D)</h4>
  <p>Ready to be the face of HACKED? You will be the first member of the team to greet attendees and be their first port of call during the weekend for any problems. Key responsibilities include:</p>
  <ul>
    <li>Registering attendees (issuing badges, fixing names etc)</li>
    <li>Answering attendee questions (issues with internet, how do i get on the roof?)</li>
    <li>Keeping our front of house experience second to none.</li>
  </ul>
  <p><strong>Commitment:</strong> Flexible: Friday 10am-9pm, Saturday 8am to Sunday 8pm</p>

  <h4>The Hacked International Response Supply Team (T.H.I.R.S.T)</h4>
  <p>Your job is deliver refreshment at the speed of light! Know your coke from your diet pepsi? or which chocolate bar perfectly compliments bangers and mash you should signup for THIRST. Responsibilities include:</p>
  <ul>
    <li>Handing out ice-cold sodas</li>
    <li>Keeping the sugary supply chain moving</li>
    <li>Watching out for caffeine overload</li>
  </ul>
  <p><strong>Commitment:</strong> Flexible during following times: Friday 10am-9pm, Saturday 8am to Sunday 8pm</p>

  <h4>Hacked Evolved Running and Operations Enlisted Section (H.E.R.O.E.S)</h4>
  <p>Our support operations team will be the glue that holds together the entire event. Weather its sneaking beer into the venue, helping to move the giant H cube on to the stage or simply making sure everyone is fed and watered. Your skills will be put to the test in helping make the event run smoothly.</p>
  <p><strong>Commitment:</strong> Flexible during following times: Saturday 8am to Sunday 8pm</p>

  <h4>Hacked Editors, Reports, Announcers and Logistics Department (H.E.R.A.L.D)</h4>
  <p>While it's not the mid 90's we are in need of a team of web masters to help maintain the HACKED intranet for attendees, take photos, monitor twitter and generally keep information flowing. You will be tested on your knowledge of the blink and marquee tag.</p> 
  <p><strong>Commitment:</strong> Flexible: Friday 10am-9pm, Saturday 8am to Sunday 8pm</p>

  <h4>The Hacked Unicorn, Network Delivery and Electrical Reserve (T.H.U.N.D.E.R)</h4>
  <p>Know your DHCP from your DNS? Better yet have you built out networks for 1000's of devices? We are looking for people to support our wireless provider to build out:</p>
  <ul>
    <li>DHCP and DNS</li>
    <li>Internal servers including RubyGem, PyPi and Brew mirrors, NFS and Web</li>
    <li>Running lots of CAT5</li>
  </ul>
  <p><strong>Commitment:</strong> Pre-event build plus weekend support</p>

</section>
<section class="highlight">
  <h1>FAQs?</h1>
  <h4>Do volunteers get tickets to HACKED?</h4>
  <p>Yes, all volunteers will get tickets to HACKED. However most roles have a minimum of approx 12 hour commitment during the weekend so your ability to hack something maybe limited.</p>
  
  <h4>Can you provide hotels, travel etc?</h4>
  <p>As a general rule we can't provide these however if you are working one of the highly skilled roles we may be able to help.</p>
  
  <h4>Any other benefits?</h4>
  <p>As a volunteer you will have all your food and drink covered for the weekend, you will also regular breaks and have access to the HACKED green room area where you can relax away from the event floor, grab some sleep or get a shower.</p>
</section>