<section class="hackmakers">
  <h1>HackMakers</h1>
  <p>HackDays on the scale of HACKED are not be possible without an amazing team. Over next few months we will be posting here roles which we need filling for HACKED.</p>

  <p>All the roles are completely voluntary and un-paid however we will look after you and make sure you get regular breaks, meals and have a lot of fun! All volunteers will need to attend a HACKED staff briefing in Central London during the week of July 8th.</p>

  <p>To volunteer for any role email help@hacked.io and for technical roles include details of experience.</p>

  <h4>HACKED Network Operations Command</h4>
  <p>Know your DHCP from your DNS? Better yet have you built out networks for 1000's of devices? We are looking for people to support our wireless provider to build out:</p>
  <ul>
    <li>DHCP and DNS</li>
    <li>Internal NFS servers include RubyGem, PyPi and Brew mirrors</li>
    <li>Running lots of CAT5</li>
  </ul>
  <p><strong>Commitment:</strong> Pre-event build plus weekend support</p>

  <h4>Registration and Help Desk</h4>
  <p>Ready to be the face of HACKED? You will be the first member of the team to greet attendees and be their first port of call during the weekend for any problems. Key responsibilities include:</p>
  <ul>
    <li>Registering attendees (issuing badges, fixing names etc)</li>
    <li>Answering attendee questions (issues with internet, how do i get on the roof?)</li>
    <li>Keeping our front of house experience second to none.</li>
  </ul>
  <p><strong>Commitment:</strong> Friday 6pm-9pm, Saturday and Sunday 8am to 8pm</p>

  <h4>Support Operations</h4>
  <p>Our support operations team will be the glue that holds together the entire event. Weather its sneaking beer into the venue, helping to move the giant H cube on to the stage or simply making sure everyone is fed and watered. Your skills will be put to the test in helping make the event run smoothly.</p>
  <p><strong>Commitment:</strong> Flexible</p>

  <h4>Set Dressers</h4>
  <p>We want HACKED to look great, so if you have a flair for the creative and think you could build something cool and help make the venue look that extra bit special as well as helping with general look and feel.</p>

</section>
<hr>