<section class="about">
  <h1>What is HACKED?</h1>
  <p><strong>HACKED is a free-to-attend, intense weekend of learning, sharing and building cool stuff. Whether you are an expert or novice, developer or designer, join us for what we guarantee will be a memorable experience.</strong></p>
  <p>Hacking is all about playing with technology and using it <em>in new and creative ways</em>. We're not talking about building battled-hardened products - many of the more memorable hacks from similar events have been pulled off thanks to crossed-fingers and the generous use of gaffer tape!</p>

  <figure>
    <img src="/images/indigo-placeholder.jpg" />
    <figcaption>Our venue for the weekend - IndigO2 at The O2, London!</figcaption>
  </figure>

  <p>If you have ever been to a hack day before, you'll know the fun of making new things quickly, experimenting and collaborating with people from all sorts of backgrounds and levels of experience. There will be plenty of hands-on sessions and one-to-one help, so don't be scared about getting involved!</p>
</section>

<section class="sponsors">
  <h1>Sponsors</h1>
  <p>Maecenas sed <a href="http://www.bbc.co.uk/">diam eget risus</a> varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna. Curabitur blandit tempus porttitor. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
  <h2>Lorem Ipsum</h2>
  <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean lacinia bibendum nulla sed consectetur. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
  <ul>
    <li>Lorem</li>
    <li>Consectetur</li>
    <li>Magna</li>
  </ul>
  <h3>Bibendum Nulla Sed</h3>
  <p>Etiam porta sem malesuada magna mollis euismod. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nullam quis risus eget urna mollis ornare vel eu leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</section>
