<section class="about">
  <h1>What is HACKED?</h1>
  <p><strong>HACKED is a free-to-attend, intense weekend of learning, sharing and building cool stuff. Whether you are an expert or novice, developer or designer, join us for what we guarantee will be a memorable experience.</strong></p>
  <p>Hacking is all about playing with technology and using it <em>in new and creative ways</em>. We're not talking about building battled-hardened products - many of the more memorable hacks from similar events have been pulled off thanks to crossed-fingers and the generous use of gaffer tape!</p>
  <p>If you have ever been to a hack day before, you'll know the fun of making new things quickly, experimenting and collaborating with people from all sorts of backgrounds and levels of experience. There will be plenty of hands-on sessions and one-to-one help, so don't be scared about getting involved!</p>

  <div class="about-learn">

  </div>

  <div class="about-build">

  </div>

  <div class="about-share">

  </div>
</section>

<section class="highlight sponsors">
  <h1>Supported by:</h1>
  <h2>Platinum Sponsor</h2>
  <ul>
    <li><a href="http://www.heroku.com/"><img src="/images/sponsors/heroku.png"></a></li>
  </ul>

  <h2>Additional Sponsors</h2>
  <ul>
    <li><a href="http://developer.paypal.com/"><img src="/images/sponsors/paypal.png"></a></li>
    <li><a href="http://www.github.com/"><img src="/images/sponsors/github.png"></a></li>
  </ul>
</section>
