<section class="about">
  <h1>What is HACKED?</h1>
  <p><strong>HACKED is a free-to-attend, intense weekend of learning, building and sharing cool stuff. Whether you are an expert or novice, developer or designer, join us July 20th & 21st at The O2 for what we guarantee will be a memorable experience.
</strong></p>

  <div class="about-learn">
    <h2>Learn</h2>
    <p>Throughout the weekend HACKED will feature interesting presentations and kickass workshops by awesome developers.</p>
  </div>

  <div class="about-build">
    <h2>Build</h2>
    <p>Hacking is all about playing with technology and using it in new and creative ways. Go on and build stuff!</p>
  </div>

  <div class="about-share">
    <h2>Share</h2>
    <p>Don't just attend HACKED. Teach others what you know. Share your knowledge.</p>
  </div>

  <div class="about-blog">
    <h1>Latest News</h1>
    <% blog.articles[0..0].each do |article| %>
    <article>
      <h2><%= link_to article.title, article %></h2>
     <%= article.summary %>
     <p><%= link_to "Read more...", article %></p>
    </article>
    <% end %>
  </div>
</section>

<section class="sponsors-sidebar">
  <section class="tickets-cta">
    <h1><a href="/tickets">GET YOUR HACKED TICKET NOW!</a></h1>
  </section>
  <h2>Sponsors:</h2>
  <ul>
    <li><a target="_blank" href="http://thelab.o2.com/"><img src="/images/sponsors/thelab.png" alt="The Lab powered by O2"></a></li>
    <li><a target="_blank" href="http://heroku.com/"><img src="/images/sponsors/heroku.png" alt="Heroku"></a></li>
    <li><a target="_blank" href="http://developer.nokia.com/"><img src="/images/sponsors/nokia.png" alt="Nokia"></a></li>
    <li><a target="_blank" href="http://developer.paypal.com/"><img src="/images/sponsors/paypal.png" alt="PayPal"></a></li>
    <li><a target="_blank" href="http://techsmith.com/"><img src="/images/sponsors/techsmith.png" alt="TechSmith"></a></li>
    <li><a target="_blank" href="http://github.com/"><img src="/images/sponsors/github.png" alt="GitHub"></a></li>
    <li><a target="_blank" href="http://www.bbc.co.uk/rd"><img src="/images/sponsors/bbc.png" alt="BBC R&amp;D"></a></li>
  </ul>
<<<<<<< Updated upstream
  <p><a href="/sponsors#cta">Interested in sponsoring HACKED?</a></p>
=======
  <p><a href="/sponsor#cta">Interested in sponsoring HACKED?</a></p>
>>>>>>> Stashed changes
</section>

