<section class="about">
  <h1>What is HACKED?</h1>
  <p><strong>HACKED is a free-to-attend, intense weekend of learning, building and sharing cool stuff. Whether you are an expert or novice, developer or designer, join us July 20th & 21st at the O2 for what we guarantee will be a memorable experience.
</strong></p>

  <div class="about-learn">
    <h2>Learn</h2>
    <p>Throughout the weekend HACKED will feature interesting presentations and kickass workshops by awesome developers.</p>
  </div>

  <div class="about-build">
    <h2>Build</h2>
    <p>Hacking is all about playing with technology and using it in new and creative ways. Go on and build stuff!</p>
  </div>

  <div class="about-share">
    <h2>Share</h2>
    <p>Don't just attend HACKED. Teach others what you know. Share your knowledge.</p>
  </div>

  <div class="about-blog">
    <h1>Latest News</h1>
    <% blog.articles[0..0].each do |article| %>
    <article>
      <h2><%= link_to article.title, article %></h2>
     <%= article.summary %>
     <p><%= link_to "Read more...", article %></p>
    </article>
    <% end %>
  </div>
</section>

<section class="sponsors">
  <h2>Sponsors:</h2>
  <ul>
    <li><a href="http://heroku.com/"><img src="/images/sponsors/heroku.png" alt="Heroku"></a></li>
  </ul>
  <p><a href="/sponsorship/">Interested in sponsoring HACKED?</a></p>
</section>

