<section class="about">
  <h1>What is HACKED?</h1>
  <p><strong>Turkey salami sausage biltong drumstick venison pork loin chicken bresaola ribeye kielbasa beef ball tip. Turkey biltong sirloin tenderloin beef ribs tail tri-tip pancetta. Pork chop strip steak pastrami boudin brisket, biltong capicola rump short ribs doner fatback.</strong></p>

  <div class="about-learn">
    <h2>Learn</h2>
    <p>Bacon ipsum dolor sit amet biltong chuck fatback prosciutto shoulder, bresaola short ribs drumstick sirloin pork boudin.</p>
  </div>

  <div class="about-build">
    <h2>Build</h2>
    <p>Meatball boudin bresaola shoulder, shank salami tongue bacon tenderloin pancetta cow kielbasa. Leberkas turkey jerky pig rump pork.</p>
  </div>

  <div class="about-share">
    <h2>Share</h2>
    <p>Meatball boudin bresaola shoulder, shank salami tongue bacon tenderloin pancetta cow kielbasa. Leberkas turkey jerky pig rump pork.</p>
  </div>

  <div class="about-blog">
    <h1>Latest News</h1>
    <% blog.articles[0..0].each do |article| %>
    <article>
      <h2><%= link_to article.title, article %></h2>
     <%= article.summary %>
     <p><%= link_to "Read more...", article %></p>
    </article>
    <% end %>
  </div>
</section>

<section class="sponsors">
  <h2>Sponsors:</h2>
  <ul>
    <li><a target="_blank" href="http://thelab.o2.com/"><img src="/images/sponsors/thelab.png" alt="The Lab powered by O2"></a></li>
    <li><a target="_blank" href="http://heroku.com/"><img src="/images/sponsors/heroku.png" alt="Heroku"></a></li>
    <li><a target="_blank" href="http://developer.paypal.com/"><img src="/images/sponsors/paypal.png" alt="PayPal"></a></li>
    <li><a target="_blank" href="http://techsmith.com/"><img src="/images/sponsors/techsmith.png" alt="TechSmith"></a></li>
  </ul>
  <p><a href="/sponsor#cta">Interested in sponsoring HACKED?</a></p>
</section>

