<section class="about">
  <h1>What is HACKED?</h1>
  <p><strong>Turkey salami sausage biltong drumstick venison pork loin chicken bresaola ribeye kielbasa beef ball tip. Turkey biltong sirloin tenderloin beef ribs tail tri-tip pancetta. Pork chop strip steak pastrami boudin brisket, biltong capicola rump short ribs doner fatback. Pastrami jerky capicola sirloin corned beef, tri-tip ribeye ham swine. Venison cow pancetta beef ribs meatloaf. Pork beef ribs turkey pancetta short ribs, tri-tip pig.</strong></p>

  <div class="about-learn">
    <h2>Learn</h2>
    <p>Bacon ipsum dolor sit amet biltong chuck fatback prosciutto shoulder, bresaola short ribs drumstick sirloin pork boudin. Ribeye filet mignon flank tri-tip short ribs boudin, pork loin venison ham hock leberkas chicken prosciutto beef ribs bresaola. Brisket tail doner, shoulder venison swine short loin frankfurter pig ball tip. Pork loin strip steak cow meatloaf.</p>
  </div>

  <div class="about-build">
    <h2>Build</h2>
    <p>Meatball boudin bresaola shoulder, shank salami tongue bacon tenderloin pancetta cow kielbasa. Leberkas turkey jerky pig rump pork ground round turducken strip steak, hamburger pancetta shankle sausage beef ribeye. Pancetta meatloaf t-bone beef ribs shankle kielbasa, fatback biltong. Chicken turducken filet mignon tongue, shankle short ribs tenderloin t-bone meatball. T-bone boudin pig spare ribs chuck ham hock short loin filet mignon turkey sirloin corned beef venison.</p>
  </div>

  <div class="about-share">
    <h2>Share</h2>
    <p>Jerky sausage pork loin rump pork frankfurter. Short ribs ground round sausage pork chop. Pork belly brisket meatloaf salami andouille pork. Hamburger turducken t-bone salami pork, frankfurter pastrami short loin meatloaf spare ribs shankle prosciutto. Shankle sirloin meatloaf tongue ham hock salami chuck.</p>
  </div>
</section>

<section class="highlight sponsors">
  <h1>Supported by:</h1>
  <h2>Platinum Sponsor</h2>
  <ul>
    <li><a href="http://www.heroku.com/"><img src="/images/sponsors/heroku.png"></a></li>
  </ul>

  <h2>Additional Sponsors</h2>
  <ul>
    <li><a href="http://developer.paypal.com/"><img src="/images/sponsors/paypal.png"></a></li>
    <li><a href="http://www.github.com/"><img src="/images/sponsors/github.png"></a></li>
  </ul>
</section>
