<section class="press">
  <h1>Press</h1>

  <p>Interested in covering HACKED? We have a few tickets available for bloggers and journalists.</p>

  <p>To apply for a press pass or for more information, please email <a href="mailto:help@hacked.io">help@hacked.io</a>. </p>

</section>