<section class="questions">
  <h1>Questions &amp; Answers</h1>

  <h2>What is HACKED?</h2>
  <p>HACKED is a free-to-attend, intense weekend of learning, sharing and building cool stuff. Whether you are an
  expert or novice, developer or designer, join us for what we guarantee will be a memorable experience.</p>

  <p>Hacking is all about playing with technology and using it in new and creative ways. We're not talking about building
  battled-hardened products - many of the more memorable hacks from similar events have been pulled off thanks to
  crossed-fingers and the generous use of sticky tape!</p>

  <p>If you have ever been to a hack day before, you'll know the fun of making new things quickly, experimenting and
  collaborating with people from all sorts of backgrounds and levels of experience.</p>

  <p>Lots of companies are getting involved in HACKED and they are going to  make their APIs and products available.
  There will be plenty of hands-on sessions and one-to-one help, so don't be scared about getting involved!</p>

  <!--Where-->
  <h2>Where and when is HACKED?</h2>
  <p>We will be taking over <a href="http://www.theo2.co.uk/indigo2/index.html">IndigO2</a>, inside
  <a href="http://goo.gl/maps/AAw73">The O2</a> in London on July 20th and 21st 2013.</p>

  <!--Where-->
  <h2>Who is running HACKED?</h2>
  <p>HACKED is being organised by The Lab which is part of O2 with support of Geeks of London</p>
  

  <!--Can I give a talk!-->
  <h2>Can I give a talk?</h2>
  <p>Yes. During May and June we will open up our call for proposals for you to submit an idea.</p>

  <!-- Tickets-->
  <h2>When are tickets being released?</h2>
  <p>We are releasing tickets every few weeks from late April, checkout the 
  <a href="/tickets">tickets</a> page to check if any are available right now!</p>

  <p>If you are planning to come from far away (another country, planet or dimension!)
  <!-- O2 Roof In Use (http://www.youtube.com/watch?v=_VzrtdNecBI) illegally parked Spaceships will be towed-->
  drop an email to <a href="mailto:help@hacked.io">help@hacked.io</a> and we will do our best to help.</p>

  <!--For Mr Duck and his Soldering Iron-->
  <h2>What about hardware hacks?</h2>
  <p>Are more than welcome at HACKED! However if you are planning something more than light soldering please get in touch.</p>

  <!--Overnight-->
  <h2>Can I stay overnight?</h2>
  <p>Yes, you are welcome to bring your sleeping bag! Alternatively, there are plenty of <a href="/venue">hotels and guest houses</a> nearby.</p>

  <!--Sponsorship-->
  <h2>Can my company sponsor HACKED?</h2>
  <p>Yes! Please see our sponsorship page for further information or email <a href="mailto:sponsor@hacked.io">sponsor@hacked.io</a></p>

  <!--Become a HackMaker-->
  <!--Uniform design to be determined.-->
  <h2>Can I volunteer or help out?</h2>
  <p>Yes! The search is currently on for our 2013 HackMakers! Please checkout the <a href="/getinvolved">HackMaker</a> page for more details.</p>

  <!--You lost something or you think we did-->
  <h2>Can I ask another question?</h2>
  <p>We're always happy to answer any questions you have. Drop us an email on <a href="mailto:help@hacked.io">help@hacked.io</a>.</p>


</section>

<section class="highlight">
  <h1>Need help?</h1>
  <p>Drop us an email to <a href="mailto:help@hacked.io">help@hacked.io</a> and we'll do our best to answer your question.</p>
</section>
