<section class="questions">
  <h1>Questions &amp; Answers</h1>

  <!-- What -->
  <h2>What is HACKED?</h2>
  <p>HACKED is a free-to-attend, intense weekend of learning, sharing and building cool stuff. Whether you are a beginner
  or an expert, developer or designer, join us for what we guarantee will be a memorable experience.</p>

  <p>Hacking is all about playing with technology and using it in new and creative ways. We're not talking about building
  battled-hardened products - many of the more memorable hacks from similar events have been pulled off thanks to
  crossed-fingers and the generous use of sticky tape!</p>

  <p>If you have ever been to a hack day before, you'll know the fun of making new things quickly, experimenting and
  collaborating with people from all sorts of backgrounds and levels of experience.</p>

  <p>Lots of companies are getting involved in HACKED and they are going to make their APIs and products available.
  There will be plenty of hands-on sessions and one-to-one help, so don't be scared about getting involved!</p>

  <!-- Where -->
  <h2>Where and when is HACKED?</h2>
  <p>We will be taking over <a href="http://www.theo2.co.uk/indigo2/index.html">IndigO2</a>, inside
  <a href="http://goo.gl/maps/AAw73">The O2</a> in London on July 20th and 21st 2013.</p>

  <!-- Who -->
  <h2>Who is running HACKED?</h2>
  <p>HACKED is being organised by The Lab which is part of O2 with the support of Geeks of London.</p>

  <!-- Can I give a talk? -->
  <h2>Can I give a talk?</h2>
  <p>Yes! During May and June we will open up our call for proposals for you to submit an idea.</p>

  <!-- Tickets -->
  <h2>When are tickets being released?</h2>
  <p>We are releasing tickets every few weeks from late April. Why not <a href="/tickets">take a look</a> and see if any are available right now!</p>

  <p>If you are planning to come from far away (another country, planet or dimension!),
  <!-- O2 roof in use (http://www.youtube.com/watch?v=_VzrtdNecBI) illegally parked spaceships will be towed -->
  drop an email to <a href="mailto:help@hacked.io">help@hacked.io</a> and we will do our best to help.</p>

  <!-- For Mr. Duck and his soldering iron -->
  <h2>What about hardware hacks?</h2>
  <p>Yes, they are more than welcome at HACKED! However, if you are planning something more than light soldering please get in touch.</p>

  <!-- Overnight -->
  <h2>Can I stay overnight?</h2>
  <p>Yes, you are more than welcome to bring your sleeping bag! Alternatively, there are plenty of <a href="/venue">hotels and guest houses</a> nearby.</p>

  <!-- Sponsorship -->
  <h2>Can my company sponsor HACKED?</h2>
  <p>Yes! Please see our <a href="/sponsorship">sponsorship page</a> for further information or email <a href="mailto:sponsor@hacked.io">sponsor@hacked.io</a></p>

  <!-- Become a HackMaker -->
  <!-- (Uniform design to be determined) -->
  <h2>Can I volunteer or help out?</h2>
  <p>Yes, the search is currently on for our 2013 HackMakers. If you're interested drop us an email help@hacked.io and include details about your special powers..</p>

</section>

<section class="highlight">
  <!-- You lost something or you think we did -->
  <h1>Have another question?</h1>
  <p>We're always happy to answer any questions you have. Drop us an email on <a href="mailto:help@hacked.io">help@hacked.io</a>.</p>
</section>
