<section class="schedule">
	<h1>Friday</h1>
  <p>Pre-HACKED meetup: Enjoy some beers and meet fellow attendees. Venue TBA.</p>
     
	<h1>Saturday:</h1>
	<ul>
		<li>10am - Registration</li>
		<li>11am - Openings Talk</li>
		<li>12pm - Hacking Starts </li>
		<li>1pm - Lunch</li>
		<li>7-9pm Dinner</li>
	</ul>

	<h2>Presentations/Workshops</h2>
	<p>From 12pm till 6pm there will be various presentations and workshops (a full schedule will be available closer to the event).</p>

	<h2>Overnight / Sleeping</h2>
	<p>There will be an area for sleeping if you can’t make it through the entire night!</p>

	<h1>Sunday:</h1>

	<ul>
		<li>8am - Breakfast</li>
		<li>10am - Judge's rounds start</li>
		<li>12pm - Lunch & Hacking ends</li>
		<li>2pm - Demos start</li>
		<li>4pm - Awards</li>
		<li>4:30pm - Go Home</li>
	</ul>

</section>