<section class="schedule">
	<h1>Schedule</h1>
	<h2>Friday</h2>
  <p>Pre-HACKED meetup: Enjoy some beers and meet fellow attendees. Venue TBA.</p>

	<h2>Saturday</h2>
	<ul>
		<li>10am - Registration</li>
		<li>11am - Opening talks</li>
		<li>12pm - Start hacking</li>
		<li>1pm - Lunch</li>
		<li>7&ndash;9pm - Dinner</li>
	</ul>

	<h3>Presentations &amp; Workshops</h3>
	<p>From 12pm&ndash;6pm there will be various presentations and workshops (a full schedule will be available closer to the event).</p>

	<h3>Overnight &amp; Sleeping</h3>
	<p>There will be an area for sleeping if you can’t make it through the entire night!</p>

	<h2>Sunday</h2>
	<ul>
		<li>8am - Breakfast</li>
		<li>10am - Judges rounds start</li>
		<li>12pm - Lunch and finish hacking</li>
		<li>1pm - Demos start</li>
		<li>4pm - Awards</li>
		<li>4.30pm - Go home</li>
	</ul>
</section>
