<section class="schedule">
	<h1>Schedule</h1>
	<h2>Friday</h2>
  <p>Pre-HACKED meetup: Enjoy some beers and meet fellow attendees. Venue TBA.</p>
     
	<h2>Saturday</h2>
	<ul>
		<li>10am - Registration</li>
		<li>11am - Openings Talk</li>
		<li>12pm - Hacking Starts </li>
		<li>1pm - Lunch</li>
		<li>7-9pm Dinner</li>
	</ul>

	<h3>Presentations/Workshops</h3>
	<p>From 12pm till 6pm there will be various presentations and workshops (a full schedule will be available closer to the event).</p>

	<h3>Overnight / Sleeping</h3>
	<p>There will be an area for sleeping if you can’t make it through the entire night!</p>

	<h2>Sunday</h2>

	<ul>
		<li>8am - Breakfast</li>
		<li>10am - Judge's rounds start</li>
		<li>12pm - Lunch &amp; Hacking ends</li>
		<li>1pm - Demos start</li>
		<li>4pm - Awards</li>
		<li>4:30pm - Go Home</li>
	</ul>

</section>