<section class="sponsors">
  <h1>Our Sponsors</h1>
  <h2>Host</h2>

  <section class="sponsor">
    <div class="sponsor-logo">
      <img src="/images/sponsors/thelab.png" alt="The Lab powered by O2">
    </div>

    <div class="sponsor-copy">
      <h3><a href="https://thelab.o2.com/">The Lab powered by O2</a></h3>
      <p>The Lab is an innovation team, powered by O2. They were set up to test new ideas and concepts fast, using proof of concepts and betas to help drive innovation across the O2 business.</p>
    </div>
  </section>
  <hr>
  <h2>Platinum</h2>
  <section class="sponsor">
    <div class="sponsor-logo">
      <img src="/images/sponsors/heroku.png" alt="Heroku">
    </div>

    <div class="sponsor-copy">
      <h3><a href="https://heroku.com/">Heroku</a></h3>
      <p>Spend your time building applications, not managing the servers that run them.  Heroku is a platform-as-a-service that adds simplicity to deploying, scaling and managing the infrastructure that run applications.</p>
    </div>
  </section>

  <section class="sponsor">
    <div class="sponsor-logo">
      <img src="/images/sponsors/nokia.png" alt="Nokia">
    </div>
    <div class="sponsor-copy">
      <h3><a href="http://developer.nokia.com/">Nokia Developer</a></h3>
      <p>Nokia Developer offers a range of tools and technologies to help you develop fantastic apps. Developers from around the world are increasingly publishing apps for Windows Phones, including Nokia Lumia smartphones, with more than 135,000 apps already in the Windows Phone Store.</p>
    </div>
  </section>

  <hr>

  <h2>Rhodium</h2>
  <section class="sponsor">
    <div class="sponsor-logo">
      <img src="/images/sponsors/paypal.png" alt="Paypal">
    </div>

    <div class="sponsor-copy">
      <h3><a href="https://developer.paypal.com/">Paypal</a></h3>
      <p>Earlier this year PayPal launched some brand new REST APIs, mobile payment
      libraries, and a new developer portal in a focussed effort to cater to the
      needs of the everyday developer. Their team will be at HACKED to demo the
      new APIs and be available to answer any questions.</p>
    </div>
  </section>
  
  <hr>
  
  <h2>Silicon</h2>
  <section class="sponsor">
    <div class="sponsor-logo">
      <img src="/images/sponsors/techsmith.png" alt="TechSmith">
    </div>

    <div class="sponsor-copy">
      <h3><a href="https://techsmith.com/">TechSmith</a></h3>
      <p>TechSmith is the name behind Camtasia Studio and Snagit, two of the most popular screencasting/capture applications for Windows and Mac.</p>
    </div>
  </section>

  <section class="sponsor">
    <div class="sponsor-logo">
      <img src="/images/sponsors/github.png" alt="GitHub">
    </div>

    <div class="sponsor-copy">
      <h3><a href="https://github.com/">GitHub</a></h3>
      <p>GitHub is the best place to share code with friends, co-workers, classmates, and complete strangers. Over three million people use GitHub to build amazing things together.</p>
    </div>
  </section>
  
  <section class="sponsor">
    <div class="sponsor-logo">
      <img src="/images/sponsors/bbc.png" alt="BBC R&amp;D">
    </div>

    <div class="sponsor-copy">
      <h3><a href="https://github.com/">BBC R&amp;D</a></h3>
      <p>Whether it’s noise-cancelling microphones in the 1930s, the first transatlantic television transmission in the 1950s, Ceefax in the 1970s, digital radio in the 1990s and HD TV in the 2000s, or the challenge to ‘broadcasting’ brought about by the internet and interactive media, BBC Research &amp; Development has led the way with innovative technology and collaborative ways of working.</p>
    </div>
  </section>
  <hr>
  <a name="#cta"></a>
  <h2>Sponsoring HACKED</h2>
  <p><strong>Its not too late!</strong></p>
  <p>Sponsorship for HACKED has been selling very well and we are almost out of packages, so if you're interested please email <a href="mailto:sponsor@hacked.io">sponsor@hacked.io</a> for more details!</p>
</section>
