<section class="sponsors">
  <h1>Our Sponsors</h1>
  <h2>Host</h2>
    <section class="sponsor-listing">
      <img src="/images/sponsors/thelab.png" alt="The Lab powered by O2">
      <h3><a href="https://thelab.o2.com/">The Lab powered by O2</a></h3>
      <p>The Lab is an innovation team, powered by O2. They were set up in to test new ideas & concepts fast, using Proof of Concepts and Betas to help drive innovation across the O2 business.</p>
    </section>
  <hr>
  <h2>Platinum</h2>
  <section class="sponsor-listing">
    <img src="/images/sponsors/heroku.png" alt="Heroku">
    <h3><a href="https://heroku.com/">Heroku</a></h3>
    <p>Meatball sirloin salami, shank ham pork turkey pork belly beef ribs ribeye spare ribs. Drumstick leberkas ham hock, filet mignon shank salami pig biltong fatback prosciutto turkey sausage beef ribs.</p>
  </section>
  <section class="sponsor-listing">
    <img src="/images/sponsors/nokia.png" alt="Nokia">
    <h3><a href="http://developer.nokia.com/">Nokia</a></h3>
    <p>Meatball sirloin salami, shank ham pork turkey pork belly beef ribs ribeye spare ribs. Drumstick leberkas ham hock, filet mignon shank salami pig biltong fatback prosciutto turkey sausage beef ribs.</p>
  </section>
  <hr>
  <h2>Rhodium</h2>
  <section class="sponsor-listing">
    <img src="/images/sponsors/paypal.png" alt="Paypal">
    <h3><a href="https://developer.paypal.com/">Paypal</a></h3>
    <p>Meatball sirloin salami, shank ham pork turkey pork belly beef ribs ribeye spare ribs. Drumstick leberkas ham hock, filet mignon shank salami pig biltong fatback prosciutto turkey sausage beef ribs.</p>
  </section>
  <section class="sponsor-listing">
    <img src="/images/sponsors/gothinkbig.png" alt="Think Big">
    <h3><a href="http://www.gothinkbig.co.uk/">Go Think Big</a></h3>
    <p>Meatball sirloin salami, shank ham pork turkey pork belly beef ribs ribeye spare ribs. Drumstick leberkas ham hock, filet mignon shank salami pig biltong fatback prosciutto turkey sausage beef ribs.</p>
  </section>
  <hr>
  <h2>Silicon</h2>
  <section class="sponsor-listing">
    <img src="/images/sponsors/techsmith.png" alt="TechSmith">
    <h3><a href="https://techsmith.com/">TechSmith</a></h3>
    <p>Meatball sirloin salami, shank ham pork turkey pork belly beef ribs ribeye spare ribs. Drumstick leberkas ham hock, filet mignon shank salami pig biltong fatback prosciutto turkey sausage beef ribs.</p>
  </section>
  <hr>
  <h2>Partners</h2>
    <section class="sponsor-partners">
      <img src="/images/sponsors/github.png" alt="GitHub">
      <img src="/images/sponsors/bbc.png" alt="BBC">
    </section>
  <hr>
  <a name="#cta"></a>
  <h2>Sponsoring HACKED</h2>
  <p><strong>Flank meatball bacon biltong. Sausage pork loin short ribs filet mignon shank tenderloin capicola strip steak biltong tri-tip flank boudin. Tail flank venison biltong meatball short ribs kielbasa frankfurter jerky.</strong></p>

  <p>Meatball sirloin salami, shank ham pork turkey pork belly beef ribs ribeye spare ribs. Drumstick leberkas ham hock, filet mignon shank salami pig biltong fatback prosciutto turkey sausage beef ribs. Tenderloin drumstick filet mignon pancetta doner hamburger ham meatball ham hock swine strip steak. Rump turducken capicola pancetta, filet mignon swine cow pig strip steak meatball turkey meatloaf drumstick. Cow swine capicola ball tip, bresaola chuck drumstick. Bresaola shoulder tail tenderloin venison kielbasa. Ground round fatback chuck, pork chop beef ribs jowl short ribs tail.</p>

</section>
