<section class="tickets">
  <h1>Your done!</h1>
  <p>We have added your details to our mailing list and will keep you up to date with all the latest HACKED news!</p>
</section>

<section class="highlight">
  <h1>Meanwhile!</h1>
  <p>Why not follow us on <a href="http://twitter.com/hackedio">twitter</a> (@hackedio) or <a href="http://www.facebook.com/alargehackday">facebook</a> and show your interest on <a href="http://lanyrd.com/cgpkm">lanyrd</a></p>
</section>
