<section class="tickets">
  <h1>You're done!</h1>
  <p>We have added your details to our mailing list and will keep you up to date with all the latest HACKED news!</p>
</section>

<section class="highlight">
  <h1>Meanwhile...</h1>
  <p>Why not follow us on Twitter (<a href="http://twitter.com/hackedio">@hackedio</a>) or <a href="http://www.facebook.com/alargehackday">Facebook</a> and show your interest on <a href="http://lanyrd.com/cgpkm">Lanyrd</a>.</p>
</section>
