<section class="terms">
  <h1>Terms of Attendance</h1>
  <p>HACKED ("the event") is a creative 2 day building &amp; making event taking place on July 20th / 21st 2013 at IndigO2 London.</p>

  <h3>1. BINDING AGREEMENT</h3>
  <p>In order to attend HACKED, you must agree to these Terms and Conditions ("Terms"). Please read these Terms carefully to ensure you
  understand and agree. These Terms form a binding legal agreement between you and Telefónica UK with respect to the event.</p>

  <h3>2. ELIGIBILITY.</h3>
  <p>This event is open to individuals who are at least 16 years of age or older on the date of the event. Anyone under the age of 16
  on the date of the event must be accompanied by an adult at all times while at the event. To stay at the event overnight you must be
  at least 18 years of age or older on the date of the event. Anyone who is not staying overnight needs to vacate the premises by 8pm.
  All communications between Telefónica UK and attendees will be in English, including but not limited to the website content and email
  communications.</p>

  <h3>3. CONDITIONS OF ATTENDENCE.</h3>
  <p>Attendees must have registered via the HACKED website, and also meet the eligibility requirements set forth above. By participating
  in the event, you agree to be bound by these Terms and to all decisions of Telefónica UK, which are final, binding and conclusive in
  all matters. As a condition of participating in the event, you warrant to Telefonica UK that any content you create:</p>

  <ul>
    <li>Does not include any unsuitable or offensive content, including nudity, sexually explicit,
    disparaging, libellous or other inappropriate content.</li>

    <li>Does not include any content that is in violation of or infringes third party intellectual property rights including, but not limited to
    copyrights, including music copyrights, trademarks, and rights of publicity.</li>

    <li>Is suitable for a general audience and does not contain any unsubstantiated, false and/or misleading claims.</li>
  </ul>

  <h3>4. LICENSE TO SUBMISSIONS.</h3>
  <p>Each attendee will retain ownership of and all intellectual and industrial property rights to his or her creation. Telefónica UK
  retains right to use individual creations for the purposes of advertising and promotion of the event.</p>

  <h3>5. REFUSAL OF ATTENDENCE.</h3>
  <p>An attendee may be prohibited from attending this event if, in Telefónica UK’s sole discretion, it reasonably believes that the
  attendee has attempted to undermine the legitimate operation of the event by:</p>

  <ul>
    <li>Providing false information concerning his/her identity, postal address, email address or phone number;</li>
    <li>Breaching or otherwise refusing to comply with any of the provisions set forth in these Terms;</li>
    <li>Threatening, harassing or interfering with the ability of other attendees to effectively participate in the event; or</li>
    <li>Threatening, harassing or interfering with Telefónica UK administrators, volunteers, partners or other employees;</li>
  </ul>

  <p>All decisions of Telefónica UK are in these matters are final and binding. Telefónica UK reserves the right, in its sole discretion,
  to revoke any and all privileges associated with the event, and to take any other action it deems appropriate. All attendees must adhere
  to The O2 terms of entry, which can be found at
    <a href="http://www.theo2.co.uk/venue/terms-of-entry.html">http://www.theo2.co.uk/venue/terms-of-entry.html</a>
  </p>

  <h3>6. PRIVACY.</h3>

  <p>Attendees agree that any personal data entered during registration for the event or otherwise provided to Telefónica UK in
  the course of participation in the event, including name, mailing address, phone number, birth date and email address, may be
  used by Telefónica UK to verify attendees eligibility and contact attendees and otherwise processed, stored, and otherwise used
  for the purposes and within the context of the event.</p>

  <p>All personal information that is collected from the competitor is subject to Telefónica UK’s Privacy Policy, located at
    <a href="http://www.o2.co.uk/termsandconditions/privacy-policy">http://www.o2.co.uk/termsandconditions/privacy-policy</a>.
  </p>

  <h3>7. GENERAL; MISCELLANEOUS.</h3>

  <p>Telefónica UK reserves the right to limit the participation of any person in the event, amend or interpret these Terms or official communications governing the event or cancel the event for any reason with prior notice. Notices for any such amendment, interpretation or cancellation will be deemed given by posting on the event website and by virtue of a attendees continued participation in the event.</p>

</section>
