<section class="tickets">
  <h1>Want a ticket for HACKED?</h1>
  <p>First add HACKED to your diary on July 20th and 21st, then book your ticket below!</p>

  <iframe  src="http://www.eventbrite.com/tickets-external?eid=6361349969&ref=etckt&v=2" frameborder="0" height="250" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
  
  <h3>No tickets available?</h3>
  <p>We are handing out tons of tickets to HACKED between April and July so make sure you follow us 
     on <a href="http://twitter.com/hackedio">twitter</a> or <a href="http://www.facebook.com/alargehackday">facebook</a> for release announcements. If your super keen you should also register your interest below.</p>

  <h3>Register for HACKED updates</h3>
   <form action="http://barcamplondon.createsend.com/t/r/s/jtjhiyj/" method="post" id="subForm">
     <table align="center">
       <tbody><tr>
         <td>
           <label for="name">Name:</label>
         </td>
         <td>
           <input type="text" name="cm-name" id="name" placeholder="Albert Einstein">
         </td>
       </tr>
       <tr><td colspan="2">&nbsp;</td></tr>
       <tr>
         <td>
           <label for="jtjhiyj-jtjhiyj">Email:</label>
         </td>
         <td>
           <input type="text" name="cm-jtjhiyj-jtjhiyj" id="jtjhiyj-jtjhiyj" placeholder="albert@gmail.com">
         </td>
       </tr>
       <tr><td colspan="2">&nbsp;</td></tr>
       <tr><td>&nbsp;</td><td><input type="submit" value="Register"></td></tr>
     </tbody></table>
   </form>
  
</section>

<section class="highlight">
  <h1>Need to cancel?</h1>
  <p>We expect tickets to HACKED to disappear very quickly, but we want to make sure everyone who wants to come is able to. If you can no longer make HACKED, please drop an email to <a href="mailto:help@hacked.io">help@hacked.io</a> so we can reallocate your ticket to someone who can.</a>
</section>
