<section class="tickets">
  <h1>Want a ticket for HACKED?</h1>
  <p>Some copy about making sure you're available on 20+21st of July.</p>

  <p>Eventbrite &lt;iframe&gt; goes here.</p>
</section>

<section class="highlight">
  <h1>Need to cancel?</h1>
  <p>We expect tickets to HACKED to disappear very quickly, but we want to make sure everyone who wants to come is able to. If you can no longer make HACKED, please drop an email to <a href="mailto:help@hacked.io">help@hacked.io</a> so we can reallocate your ticket to someone who can.</a>
</section>
