<section class="venue">
  <h1>Venue</h1>
  <p>Pork loin jerky beef brisket jowl pork belly salami turkey spare ribs biltong. Venison hamburger jowl, kielbasa turkey beef ribs bresaola. Ground round filet mignon pig strip steak bresaola, short loin t-bone sausage brisket tri-tip. Biltong tongue leberkas andouille, drumstick beef brisket frankfurter jowl meatloaf short loin sausage shank. Flank pork belly shank capicola biltong. Shankle t-bone pork belly pig beef ribs pastrami short ribs meatball ham chuck venison drumstick salami frankfurter.</p>

  <div class="venue-location">
    <h2>indigO2</h2>
    <p>Peninsula Square<br />London<br />SE10 0DX</p>
    <p><a href="http://www.theo2.co.uk/location/getting-there.html">Full directions</a></p>

    <h3>By tube</h3>
    <p>Blah.</p>

    <h3>On foot</h3>
    <p>Blah.</p>

  </div>
  <div class="venue-map">
   Google Map goes here!
  </div>
</section>
