<section class="venue">
  <h1>Venue</h1>
  <p>Our home for the weekend is the IndigO2 at the O2. Since opening its doors in 2007, it has hosted acts including The Who, Penn &amp; Teller and David Essex. Now IndigO2 plays host to you and 499 other developers, designers, hardware hackers and tinkerers.
    
    For the weekend we will be taking one of the worlds leading entertainment venues adding a super fast internet line, tables, chairs and of course beanbags to make one awesome HACKED venue.
  </p>

  <div class="venue-map">
    <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.uk/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=the+o2+arena&amp;aq=&amp;sll=51.507033,0.00309&amp;sspn=0.161336,0.241699&amp;t=m&amp;ie=UTF8&amp;hq=the+o2+arena&amp;hnear=&amp;ll=51.511253,0.003948&amp;spn=0.032051,0.068579&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.co.uk/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=the+o2+arena&amp;aq=&amp;sll=51.507033,0.00309&amp;sspn=0.161336,0.241699&amp;t=m&amp;ie=UTF8&amp;hq=the+o2+arena&amp;hnear=&amp;ll=51.511253,0.003948&amp;spn=0.032051,0.068579&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
  </div>

  <div class="venue-location">
    <h2>indigO2</h2>
    <p>Peninsula Square<br />London<br />SE10 0DX</p>
    <p><a href="http://www.theo2.co.uk/location/getting-there.html">Full directions</a></p>

    <h3>Public Transport</h3>
    <p>For underground, bus, river services and cable car please use North Greenwich station. <br>
    </p>

    <h3>Parking</h3>
    <p>Parking is available at the O2 however due to the Circus Soleil show please check the <a href="http://www.theo2.co.uk/location/getting-there.html">O2 website</a> for rates.</p>
  </div>
  
</section>
<hr>
<section class="travel">
  <h2>Hotels</h2>
  <p>Don't fancy staying all night? Well thankfully theirs several hotels nearby providing various grades of accommodation including:</p>
  <ul>
    <li><a href="http://www.novotel.com/gb/hotel-3476-novotel-london-greenwich/index.shtml">Novotel Greenwich</a></li>
    <li><a href="http://www.deverevenues.co.uk/locations/devonport-house.html">De Vere Greenwich</a></li>
    <li><a href="http://www.cpdocklands.co.uk/">Crown Plaza London</a></li>
    <li><a href="http://www.ihg.com/holidayinnexpress/hotels/us/en/london/lonsi/hoteldetail">Holiday Inn Express Royal Docks</a></li>
    <li><a href="http://www.st-christophers.co.uk/london-hostels/greenwich">St Christopher's Backpackers</a></li>
  </ul>
  <p>You can also checkout 
    <a href="http://www.laterooms.com/en/k17268733_o2-arena-hotels.aspx">LateRooms</a>, 
    <a href="http://www.expedia.co.uk/The-O-Hotels.0-l6057080-0.Travel-Guide-Filter-Hotels">Expedia</a>,
    <a href="http://www.booking.com/landmark/gb/millennium-dome.en.html">Booking.com</a> or 
    <a href="http://www.hotels.com/de1702052/hotels-near-the-o2-london-united-kingdom/">Hotels.com</a> for more nearby options.
</section>