<section class="tickets">
  <h1>HACKED IS SOLD OUT</h1>
  
  <p>You have sadly missed out on the HACKED ticket releases but the waiting list is now active.</p>
  
  <p>Join the waiting list today and we will notify you if you get allocated a ticket with details how to complete sign-up.</p>

  <iframe  src="https://docs.google.com/forms/d/1UGn6c1p2SDDMQ4DE5v50Bw-o-Mwa7qBGH9CkDvil9X0/viewform" frameborder="0" height="800" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>

<section class="highlight">
  <h1>Need to cancel?</h1>
  <p>We expect tickets to HACKED to disappear very quickly, but we want to make sure everyone who wants to come is able to. If you can no longer make HACKED, please drop an email to <a href="mailto:help@hacked.io">help@hacked.io</a> so we can reallocate your ticket to someone who can.</a>
</section>
