<section class="tickets">
  <h1>You're coming to HACKED!</h1>
  <p>Congratulations, you are now registered for HACKED. Before you forget, add HACKED to your diary!</p>
  <hr>
  <p>
    <strong>HACKED</strong> (<a href="/hacked.ics">ics file</a>)</br>
    10am onwards, July 20th and 21st 2013</br>
    IndigO2, North Greenwich, London
  </p>
  <hr>
  <h2>A few other things...</h2>

  <h3>Travelling by train?</h3>
  <p>Most train companies including Eurostar release their cheapest advance tickets between 70-90 days in advance. So check now to grab a bargain.</p>

  <h3>Planning a hardware hack or something grander?</h3>
  <p>If you are planning to build anything big or involving more than basic soldering drop an email to <a href="mailto:help@hacked.io">help@hacked.io</a></p>

  <h3>Under 18?</h3>
  <p>If you are between the age of 16 and 18, you can attend HACKED. However you can't stay with us overnight so please plan to head home by 8pm.</p>
  <p>Attendees under the age of 16 must be accompanied by a parent or other responsible adult and get written approval from the organisers.</p>

  <h3>Sponsor</h3>
  <p>If you think your company would be a good fit for HACKED then head to our <a href="/sponsors/#cta">sponsors page</a> for more details.</p>

</section>

<section class="highlight">
  <h1>and Finally!</h1>
  <p>Why not follow us on <a href="http://twitter.com/hackedio">twitter</a> (@hackedio) or <a href="http://www.facebook.com/alargehackday">facebook</a> and tell the world your coming on <a href="http://lanyrd.com/cgpkm">lanyrd</a>.</p>
</section>
